<a href="https://colab.research.google.com/github/nadyasyahrita/File-Titanic/blob/main/Belajar_python_4(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Apa itu Pandas?**
core Python untuk Data Science

*   Library di python khusus untuk data analysis & manipulation
*   dibangun di atas Numpy (berkaitan erat)


*   dengan pandas, maka python akan menjadi seperti R
*   digunakan untuk core data science di python. digunakan utk plot, statistika, membaca file format csv, sql, html, dan juga untuk cloud computing

In [ ]:
import pandas as pd

In [ ]:
titanic=pd.read_csv('https://raw.githubusercontent.com/nadyasyahrita/File-Titanic/main/kapal_titanic.csv')
titanic
'''
dataku digunakan senagai variabel agar dapat diolah, kalau ga pake variabel, datanya cuma ditampilkan berupa tabel, gabisa diolah
'''

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [ ]:
#untuk mengambil beberapa data di awal
titanic.head() #diambil 5 data pertama

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [ ]:
#atau dapat menggunakan 5 data terakhir, dengan cara:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [ ]:
#cara mengekspor data dari csv ke csv dengan nama lain
titanic.to_csv('titaniccsv.csv', index=False) #kalo indeks tidak ditulis, indeks di tabel tdk akan menjadi sebuah tabel

In [ ]:
pd.read_csv('titaniccsv.csv')

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [ ]:
#mengekspor ke format excel
titanic.to_excel('titanicexcel.xlsx'.index=False, sheet_name='asik') #error karna harunsy adi install dulu

SyntaxError: ignored

cara membaca data html

mengekspor data ke excel atau sql

#**Data Inspection(bagian dari library pandas)**

In [ ]:
import pandas as pd

In [ ]:
titanic=pd.read_csv('https://raw.githubusercontent.com/nadyasyahrita/File-Titanic/main/kapal_titanic.csv')
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [ ]:
titanic.head() #kalau ingin 10, isi saja jadi (10)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [ ]:
print(titanic) #lebih rapi titanic=pd.read('link')

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [ ]:
pd.options.display.max_rows #option yang digunakan untuk menampilkan defauult maksimum

60

In [ ]:
pd.options.display.min_rows #hanya menampilkan data sebanyak 10 kalau minimal row

10

In [ ]:
#cara menggantinya dengan cara:
pd.options.display.min_rows = 891

In [ ]:
pd.options.display.min_rows #agar semua berubah, yg max juga diubah

891

In [ ]:
pd.options.display.max_rows=891

In [ ]:
titanic

In [ ]:
titanic.info() #untuk mengecek ringkasan dan informasi dataframe, yg dimaksud objek di pandas adalah string atau campuran

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [ ]:
#tipe data menentukan fungsi matematis yang akan kita gunakan
#jadi harus paham tipe data!!!!!

In [ ]:
#tipe data seperti float dan int dapat dihitung summary scr matematis dgn method:
titanic.describe().transpose() #transpose digunakan untuk mengubah bentuk tabel

          count       mean        std   min      25%      50%   75%       max
survived  891.0   0.383838   0.486592  0.00   0.0000   0.0000   1.0    1.0000
pclass    891.0   2.308642   0.836071  1.00   2.0000   3.0000   3.0    3.0000
age       714.0  29.699118  14.526497  0.42  20.1250  28.0000  38.0   80.0000
sibsp     891.0   0.523008   1.102743  0.00   0.0000   0.0000   1.0    8.0000
parch     891.0   0.381594   0.806057  0.00   0.0000   0.0000   0.0    6.0000
fare      891.0  32.204208  49.693429  0.00   7.9104  14.4542  31.0  512.3292

In [ ]:
#melihat data2 yang bersifat non numerik dengan cara:
titanic.describe(include = 'O').transpose() #huruf o bukan angka 0

         count unique   top freq
sex        891      2  male  577
embarked   889      3     S  644
deck       203      7     C   59

##**Mengindeks Data Tabel di Python**

In [ ]:
import pandas as pd

In [ ]:
titanic=pd.read_csv('https://raw.githubusercontent.com/nadyasyahrita/File-Titanic/main/kapal_titanic.csv')

In [ ]:
titanic

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           0       3    male  22.00      1      0    7.2500        S  NaN
1           1       1  female  38.00      1      0   71.2833        C    C
2           1       3  female  26.00      0      0    7.9250        S  NaN
3           1       1  female  35.00      1      0   53.1000        S    C
4           0       3    male  35.00      0      0    8.0500        S  NaN
5           0       3    male    NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.00      0      0   51.8625        S    E
7           0       3    male   2.00      3      1   21.0750        S  NaN
8           1       3  female  27.00      0      2   11.1333        S  NaN
9           1       2  female  14.00      1      0   30.0708        C  NaN
10          1       3  female   4.00      1      1   16.7000        S    G
11          1       1  female  58.00      0      0   26.5500        S    C
12          0       3    male  20.00      0      0    8.0500        S  NaN
13          0       3    male  39.00      1      5   31.2750        S  NaN
14          0       3  female  14.00      0      0    7.8542        S  NaN
15          1       2  female  55.00      0      0   16.0000        S  NaN
16          0       3    male   2.00      4      1   29.1250        Q  NaN
17          1       2    male    NaN      0      0   13.0000        S  NaN
18          0       3  female  31.00      1      0   18.0000        S  NaN
19          1       3  female    NaN      0      0    7.2250        C  NaN
20          0       2    male  35.00      0      0   26.0000        S  NaN
21          1       2    male  34.00      0      0   13.0000        S    D
22          1       3  female  15.00      0      0    8.0292        Q  NaN
23          1       1    male  28.00      0      0   35.5000        S    A
24          0       3  female   8.00      3      1   21.0750        S  NaN
25          1       3  female  38.00      1      5   31.3875        S  NaN
26          0       3    male    NaN      0      0    7.2250        C  NaN
27          0       1    male  19.00      3      2  263.0000        S    C
28          1       3  female    NaN      0      0    7.8792        Q  NaN
29          0       3    male    NaN      0      0    7.8958        S  NaN
30          0       1    male  40.00      0      0   27.7208        C  NaN
31          1       1  female    NaN      1      0  146.5208        C    B
32          1       3  female    NaN      0      0    7.7500        Q  NaN
33          0       2    male  66.00      0      0   10.5000        S  NaN
34          0       1    male  28.00      1      0   82.1708        C  NaN
35          0       1    male  42.00      1      0   52.0000        S  NaN
36          1       3    male    NaN      0      0    7.2292        C  NaN
37          0       3    male  21.00      0      0    8.0500        S  NaN
38          0       3  female  18.00      2      0   18.0000        S  NaN
39          1       3  female  14.00      1      0   11.2417        C  NaN
40          0       3  female  40.00      1      0    9.4750        S  NaN
41          0       2  female  27.00      1      0   21.0000        S  NaN
42          0       3    male    NaN      0      0    7.8958        C  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
44          1       3  female  19.00      0      0    7.8792        Q  NaN
45          0       3    male    NaN      0      0    8.0500        S  NaN
46          0       3    male    NaN      1      0   15.5000        Q  NaN
47          1       3  female    NaN      0      0    7.7500        Q  NaN
48          0       3    male    NaN      2      0   21.6792        C  NaN
49          0       3  female  18.00      1      0   17.8000        S  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
51          0       3    male  21.00      0      0    7.8000        S  NaN
52          1       1  female  49.00      1      0   76.7292        C    D
53          1       2  female  29.00      1      0   26.0000        S  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
55          1       1    male    NaN      0      0   35.5000        S    C
56          1       2  female  21.00      0      0   10.5000        S  NaN
57          0       3    male  28.50      0      0    7.2292        C  NaN
58          1       2  female   5.00      1      2   27.7500        S  NaN
59          0       3    male  11.00      5      2   46.9000        S  NaN
60          0       3    male  22.00      0      0    7.2292        C  NaN
61          1       1  female  38.00      0      0   80.0000      NaN    B
62          0       1    male  45.00      1      0   83.4750        S    C
63          0       3    male   4.00      3      2   27.9000        S  NaN
64          0       1    male    NaN      0      0   27.7208        C  NaN
65          1       3    male    NaN      1      1   15.2458        C  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
67          0       3    male  19.00      0      0    8.1583        S  NaN
68          1       3  female  17.00      4      2    7.9250        S  NaN
69          0       3    male  26.00      2      0    8.6625        S  NaN
70          0       2    male  32.00      0      0   10.5000        S  NaN
71          0       3  female  16.00      5      2   46.9000        S  NaN
72          0       2    male  21.00      0      0   73.5000        S  NaN
73          0       3    male  26.00      1      0   14.4542        C  NaN
74          1       3    male  32.00      0      0   56.4958        S  NaN
75          0       3    male  25.00      0      0    7.6500        S    F
76          0       3    male    NaN      0      0    7.8958        S  NaN
77          0       3    male    NaN      0      0    8.0500        S  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
79          1       3  female  30.00      0      0   12.4750        S  NaN
80          0       3    male  22.00      0      0    9.0000        S  NaN
81          1       3    male  29.00      0      0    9.5000        S  NaN
82          1       3  female    NaN      0      0    7.7875        Q  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
84          1       2  female  17.00      0      0   10.5000        S  NaN
85          1       3  female  33.00      3      0   15.8500        S  NaN
86          0       3    male  16.00      1      3   34.3750        S  NaN
87          0       3    male    NaN      0      0    8.0500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
89          0       3    male  24.00      0      0    8.0500        S  NaN
90          0       3    male  29.00      0      0    8.0500        S  NaN
91          0       3    male  20.00      0      0    7.8542        S  NaN
92          0       1    male  46.00      1      0   61.1750        S    E
93          0       3    male  26.00      1      2   20.5750        S  NaN
94          0       3    male  59.00      0      0    7.2500        S  NaN
95          0       3    male    NaN      0      0    8.0500        S  NaN
96          0       1    male  71.00      0      0   34.6542        C    A
97          1       1    male  23.00      0      1   63.3583        C    D
98          1       2  female  34.00      0      1   23.0000        S  NaN
99          0       2    male  34.00      1      0   26.0000        S  NaN
100         0       3  female  28.00      0      0    7.8958        S  NaN
101         0       3    male    NaN      0      0    7.8958        S  NaN
102         0       1    male  21.00      0      1   77.2875        S    D
103         0       3    male  33.00      0      0    8.6542        S  NaN
104         0       3    male  37.00      2      0    7.9250        S  NaN
105         0       3    male  28.00      0      0    7.8958        S  NaN
106         1       3  female  21.00      0      0    7.6500        S  NaN
107         1       3    male    NaN      0      0    7.7750        S  NaN
108         0       3    male  38.00      0      0    7.8958        S  NaN
109         1       3  female    NaN      1      0   24.1500        Q  NaN
110         0       1    male  47.00      0      0   52.0000        S    C
111         0       3  female  14.50      1      0   14.4542        C  NaN
112         0       3    male  22.00      0      0    8.0500        S  NaN
113         0       3  female  20.00      1      0    9.8250        S  NaN
114         0       3  female  17.00      0      0   14.4583        C  NaN
115         0       3    male  21.00      0      0    7.9250        S  NaN
116         0       3    male  70.50      0      0    7.7500        Q  NaN
117         0       2    male  29.00      1      0   21.0000        S  NaN
118         0       1    male  24.00      0      1  247.5208        C    B
119         0       3  female   2.00      4      2   31.2750        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
121         0       3    male    NaN      0      0    8.0500        S  NaN
122         0       2    male  32.50      1      0   30.0708        C  NaN
123         1       2  female  32.50      0      0   13.0000        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
125         1       3    male  12.00      1      0   11.2417        C  NaN
126         0       3    male    NaN      0      0    7.7500        Q  NaN
127         1       3    male  24.00      0      0    7.1417        S  NaN
128         1       3  female    NaN      1      1   22.3583        C    F
129         0       3    male  45.00      0      0    6.9750        S  NaN
130         0       3    male  33.00      0      0    7.8958        C  NaN
131         0       3    male  20.00      0      0    7.0500        S  NaN
132         0       3  female  47.00      1      0   14.5000        S  NaN
133         1       2  female  29.00      1      0   26.0000        S  NaN
134         0       2    male  25.00      0      0   13.0000        S  NaN
135         0       2    male  23.00      0      0   15.0458        C  NaN
136         1       1  female  19.00      0      2   26.2833        S    D
137         0       1    male  37.00      1      0   53.1000        S    C
138         0       3    male  16.00      0      0    9.2167        S  NaN
139         0       1    male  24.00      0      0   79.2000        C    B
140         0       3  female    NaN      0      2   15.2458        C  NaN
141         1       3  female  22.00      0      0    7.7500        S  NaN
142         1       3  female  24.00      1      0   15.8500        S  NaN
143         0       3    male  19.00      0      0    6.7500        Q  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
145         0       2    male  19.00      1      1   36.7500        S  NaN
146         1       3    male  27.00      0      0    7.7958        S  NaN
147         0       3  female   9.00      2      2   34.3750        S  NaN
148         0       2    male  36.50      0      2   26.0000        S    F
149         0       2    male  42.00      0      0   13.0000        S  NaN
150         0       2    male  51.00      0      0   12.5250        S  NaN
151         1       1  female  22.00      1      0   66.6000        S    C
152         0       3    male  55.50      0      0    8.0500        S  NaN
153         0       3    male  40.50      0      2   14.5000        S  NaN
154         0       3    male    NaN      0      0    7.3125        S  NaN
155         0       1    male  51.00      0      1   61.3792        C  NaN
156         1       3  female  16.00      0      0    7.7333        Q  NaN
157         0       3    male  30.00      0      0    8.0500        S  NaN
158         0       3    male    NaN      0      0    8.6625        S  NaN
159         0       3    male    NaN      8      2   69.5500        S  NaN
160         0       3    male  44.00      0      1   16.1000        S  NaN
161         1       2  female  40.00      0      0   15.7500        S  NaN
162         0       3    male  26.00      0      0    7.7750        S  NaN
163         0       3    male  17.00      0      0    8.6625        S  NaN
164         0       3    male   1.00      4      1   39.6875        S  NaN
165         1       3    male   9.00      0      2   20.5250        S  NaN
166         1       1  female    NaN      0      1   55.0000        S    E
167         0       3  female  45.00      1      4   27.9000        S  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
169         0       3    male  28.00      0      0   56.4958        S  NaN
170         0       1    male  61.00      0      0   33.5000        S    B
171         0       3    male   4.00      4      1   29.1250        Q  NaN
172         1       3  female   1.00      1      1   11.1333        S  NaN
173         0       3    male  21.00      0      0    7.9250        S  NaN
174         0       1    male  56.00      0      0   30.6958        C    A
175         0       3    male  18.00      1      1    7.8542        S  NaN
176         0       3    male    NaN      3      1   25.4667        S  NaN
177         0       1  female  50.00      0      0   28.7125        C    C
178         0       2    male  30.00      0      0   13.0000        S  NaN
179         0       3    male  36.00      0      0    0.0000        S  NaN
180         0       3  female    NaN      8      2   69.5500        S  NaN
181         0       2    male    NaN      0      0   15.0500        C  NaN
182         0       3    male   9.00      4      2   31.3875        S  NaN
183         1       2    male   1.00      2      1   39.0000        S    F
184         1       3  female   4.00      0      2   22.0250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
186         1       3  female    NaN      1      0   15.5000        Q  NaN
187         1       1    male  45.00      0      0   26.5500        S  NaN
188         0       3    male  40.00      1      1   15.5000        Q  NaN
189         0       3    male  36.00      0      0    7.8958        S  NaN
190         1       2  female  32.00      0      0   13.0000        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
192         1       3  female  19.00      1      0    7.8542        S  NaN
193         1       2    male   3.00      1      1   26.0000        S    F
194         1       1  female  44.00      0      0   27.7208        C    B
195         1       1  female  58.00      0      0  146.5208        C    B
196         0       3    male    NaN      0      0    7.7500        Q  NaN
197         0       3    male  42.00      0      1    8.4042        S  NaN
198         1       3  female    NaN      0      0    7.7500        Q  NaN
199         0       2  female  24.00      0      0   13.0000        S  NaN
200         0       3    male  28.00      0      0    9.5000        S  NaN
201         0       3    male    NaN      8      2   69.5500        S  NaN
202         0       3    male  34.00      0      0    6.4958        S  NaN
203         0       3    male  45.50      0      0    7.2250        C  NaN
204         1       3    male  18.00      0      0    8.0500        S  NaN
205         0       3  female   2.00      0      1   10.4625        S    G
206         0       3    male  32.00      1      0   15.8500        S  NaN
207         1       3    male  26.00      0      0   18.7875        C  NaN
208         1       3  female  16.00      0      0    7.7500        Q  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
210         0       3    male  24.00      0      0    7.0500        S  NaN
211         1       2  female  35.00      0      0   21.0000        S  NaN
212         0       3    male  22.00      0      0    7.2500        S  NaN
213         0       2    male  30.00      0      0   13.0000        S  NaN
214         0       3    male    NaN      1      0    7.7500        Q  NaN
215         1       1  female  31.00      1      0  113.2750        C    D
216         1       3  female  27.00      0      0    7.9250        S  NaN
217         0       2    male  42.00      1      0   27.0000        S  NaN
218         1       1  female  32.00      0      0   76.2917        C    D
219         0       2    male  30.00      0      0   10.5000        S  NaN
220         1       3    male  16.00      0      0    8.0500        S  NaN
221         0       2    male  27.00      0      0   13.0000        S  NaN
222         0       3    male  51.00      0      0    8.0500        S  NaN
223         0       3    male    NaN      0      0    7.8958        S  NaN
224         1       1    male  38.00      1      0   90.0000        S    C
225         0       3    male  22.00      0      0    9.3500        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
227         0       3    male  20.50      0      0    7.2500        S  NaN
228         0       2    male  18.00      0      0   13.0000        S  NaN
229         0       3  female    NaN      3      1   25.4667        S  NaN
230         1       1  female  35.00      1      0   83.4750        S    C
231         0       3    male  29.00      0      0    7.7750        S  NaN
232         0       2    male  59.00      0      0   13.5000        S  NaN
233         1       3  female   5.00      4      2   31.3875        S  NaN
234         0       2    male  24.00      0      0   10.5000        S  NaN
235         0       3  female    NaN      0      0    7.5500        S  NaN
236         0       2    male  44.00      1      0   26.0000        S  NaN
237         1       2  female   8.00      0      2   26.2500        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
239         0       2    male  33.00      0      0   12.2750        S  NaN
240         0       3  female    NaN      1      0   14.4542        C  NaN
241         1       3  female    NaN      1      0   15.5000        Q  NaN
242         0       2    male  29.00      0      0   10.5000        S  NaN
243         0       3    male  22.00      0      0    7.1250        S  NaN
244         0       3    male  30.00      0      0    7.2250        C  NaN
245         0       1    male  44.00      2      0   90.0000        Q    C
246         0       3  female  25.00      0      0    7.7750        S  NaN
247         1       2  female  24.00      0      2   14.5000        S  NaN
248         1       1    male  37.00      1      1   52.5542        S    D
249         0       2    male  54.00      1      0   26.0000        S  NaN
250         0       3    male    NaN      0      0    7.2500        S  NaN
251         0       3  female  29.00      1      1   10.4625        S    G
252         0       1    male  62.00      0      0   26.5500        S    C
253         0       3    male  30.00      1      0   16.1000        S  NaN
254         0       3  female  41.00      0      2   20.2125        S  NaN
255         1       3  female  29.00      0      2   15.2458        C  NaN
256         1       1  female    NaN      0      0   79.2000        C  NaN
257         1       1  female  30.00      0      0   86.5000        S    B
258         1       1  female  35.00      0      0  512.3292        C  NaN
259         1       2  female  50.00      0      1   26.0000        S  NaN
260         0       3    male    NaN      0      0    7.7500        Q  NaN
261         1       3    male   3.00      4      2   31.3875        S  NaN
262         0       1    male  52.00      1      1   79.6500        S    E
263         0       1    male  40.00      0      0    0.0000        S    B
264         0       3  female    NaN      0      0    7.7500        Q  NaN

In [ ]:
#memilih salah satu kolom
titanic['age'].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [ ]:
titanic_baru=titanic['age'].head() #membuat data baru agar dapat diolah
titanic_baru

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [ ]:
#cek typenya
type(titanic_baru)

pandas.core.series.Series

In [ ]:
#slicing untuk dua kolom
titanic[['age','fare']].head() #agar berupa list makanya pake[]

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [ ]:
#cek typenya
type(titanic) #kalau lebih dari satu kolom disebut dataframe

pandas.core.frame.DataFrame

In [ ]:
#data frame typenya lebih rapi pake [[]], series lbh berantakan. contoh:
titanic[['age']].head()

    age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0

###**dot notation**

In [ ]:
titanic.age.head() #menghasilkan seperti series

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [ ]:
titanic.age.equals(titanic['age']) #perbandingan antara titanic.age dan titanic['age']

True

note : bebas make yang mana, biasanya lebih sering make [ ]

###**iloc**
**.iloc[baris,kolom]**

iloc biasanya digunakan untuk slicing jika diketahui indeksnya

In [ ]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [ ]:
titanic.iloc[0] #outputnya berupa baris pertama saja

survived       0
pclass         3
sex         male
age           22
sibsp          1
parch          0
fare        7.25
embarked       S
deck         NaN
Name: 0, dtype: object

In [ ]:
#bisa juga melakukan sekian banyak baris, contoh:
titanic.iloc[0:11] #dari baris 0 sampai 10

    survived  pclass     sex   age  sibsp  parch     fare embarked deck
0          0       3    male  22.0      1      0   7.2500        S  NaN
1          1       1  female  38.0      1      0  71.2833        C    C
2          1       3  female  26.0      0      0   7.9250        S  NaN
3          1       1  female  35.0      1      0  53.1000        S    C
4          0       3    male  35.0      0      0   8.0500        S  NaN
5          0       3    male   NaN      0      0   8.4583        Q  NaN
6          0       1    male  54.0      0      0  51.8625        S    E
7          0       3    male   2.0      3      1  21.0750        S  NaN
8          1       3  female  27.0      0      2  11.1333        S  NaN
9          1       2  female  14.0      1      0  30.0708        C  NaN
10         1       3  female   4.0      1      1  16.7000        S    G

In [ ]:
#melakukan pemilihan kolom
titanic.iloc[:,3] #maunya semua baris, kolom 3

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
5        NaN
6      54.00
7       2.00
8      27.00
9      14.00
10      4.00
11     58.00
12     20.00
13     39.00
14     14.00
15     55.00
16      2.00
17       NaN
18     31.00
19       NaN
20     35.00
21     34.00
22     15.00
23     28.00
24      8.00
25     38.00
26       NaN
27     19.00
28       NaN
29       NaN
30     40.00
31       NaN
32       NaN
33     66.00
34     28.00
35     42.00
36       NaN
37     21.00
38     18.00
39     14.00
40     40.00
41     27.00
42       NaN
43      3.00
44     19.00
45       NaN
46       NaN
47       NaN
48       NaN
49     18.00
50      7.00
51     21.00
52     49.00
53     29.00
54     65.00
55       NaN
56     21.00
57     28.50
58      5.00
59     11.00
60     22.00
61     38.00
62     45.00
63      4.00
64       NaN
65       NaN
66     29.00
67     19.00
68     17.00
69     26.00
70     32.00
71     16.00
72     21.00
73     26.00
74     32.00
75     25.00
76       NaN
77       NaN
78      0.83
79     30.00
80     22.00
81     29.00
82       NaN
83     28.00
84     17.00
85     33.00
86     16.00
87       NaN
88     23.00
89     24.00
90     29.00
91     20.00
92     46.00
93     26.00
94     59.00
95       NaN
96     71.00
97     23.00
98     34.00
99     34.00
100    28.00
101      NaN
102    21.00
103    33.00
104    37.00
105    28.00
106    21.00
107      NaN
108    38.00
109      NaN
110    47.00
111    14.50
112    22.00
113    20.00
114    17.00
115    21.00
116    70.50
117    29.00
118    24.00
119     2.00
120    21.00
121      NaN
122    32.50
123    32.50
124    54.00
125    12.00
126      NaN
127    24.00
128      NaN
129    45.00
130    33.00
131    20.00
132    47.00
133    29.00
134    25.00
135    23.00
136    19.00
137    37.00
138    16.00
139    24.00
140      NaN
141    22.00
142    24.00
143    19.00
144    18.00
145    19.00
146    27.00
147     9.00
148    36.50
149    42.00
150    51.00
151    22.00
152    55.50
153    40.50
154      NaN
155    51.00
156    16.00
157    30.00
158      NaN
159      NaN
160    44.00
161    40.00
162    26.00
163    17.00
164     1.00
165     9.00
166      NaN
167    45.00
168      NaN
169    28.00
170    61.00
171     4.00
172     1.00
173    21.00
174    56.00
175    18.00
176      NaN
177    50.00
178    30.00
179    36.00
180      NaN
181      NaN
182     9.00
183     1.00
184     4.00
185      NaN
186      NaN
187    45.00
188    40.00
189    36.00
190    32.00
191    19.00
192    19.00
193     3.00
194    44.00
195    58.00
196      NaN
197    42.00
198      NaN
199    24.00
200    28.00
201      NaN
202    34.00
203    45.50
204    18.00
205     2.00
206    32.00
207    26.00
208    16.00
209    40.00
210    24.00
211    35.00
212    22.00
213    30.00
214      NaN
215    31.00
216    27.00
217    42.00
218    32.00
219    30.00
220    16.00
221    27.00
222    51.00
223      NaN
224    38.00
225    22.00
226    19.00
227    20.50
228    18.00
229      NaN
230    35.00
231    29.00
232    59.00
233     5.00
234    24.00
235      NaN
236    44.00
237     8.00
238    19.00
239    33.00
240      NaN
241      NaN
242    29.00
243    22.00
244    30.00
245    44.00
246    25.00
247    24.00
248    37.00
249    54.00
250      NaN
251    29.00
252    62.00
253    30.00
254    41.00
255    29.00
256      NaN
257    30.00
258    35.00
259    50.00
260      NaN
261     3.00
262    52.00
263    40.00
264      NaN
265    36.00
266    16.00
267    25.00
268    58.00
269    35.00
270      NaN
271    25.00
272    41.00
273    37.00
274      NaN
275    63.00
276    45.00
277      NaN
278     7.00
279    35.00
280    65.00
281    28.00
282    16.00
283    19.00
284      NaN
285    33.00
286    30.00
287    22.00
288    42.00
289    22.00
290    26.00
291    19.00
292    36.00
293    24.00
294    24.00
295      NaN
296    23.50
297     2.00
298      NaN
299    50.00
300      NaN
301      NaN
302    19.00
303      NaN
304      NaN
305     0.92
306      NaN
307    17.00
308    30.00
309    30.00
310    24.00
311    18.00
312    26.00
313    28.00
314    43.00
315    26.00
316    24.00
317    54.00
318    31.00
319    40.00
320    22.00
321    27.00
322    30.00
323    22.00
324      NaN
325    36.00
326    61.00
327    36.00
328    31.00
329    16.00
330      NaN
331    45.50
332    38.00
333    16.00
334      NaN
335      NaN
336    29.00
337    41.00
338    45.00
339    45.00
340     2.00
341    24.00
342    28.00
343    25.00
344    36.00
345    24.00
346    40.00
347      NaN
348     3.00
349    42.00
350    23.00
351      NaN
352    15.00
353    25.00
354      NaN
355    28.00
356    22.00
357    38.00
358      NaN
359      NaN
360    40.00
361    29.00
362    45.00
363    35.00
364      NaN
365    30.00
366    60.00
367      NaN
368      NaN
369    24.00
370    25.00
371    18.00
372    19.00
373    22.00
374     3.00
375      NaN
376    22.00
377    27.00
378    20.00
379    19.00
380    42.00
381     1.00
382    32.00
383    35.00
384      NaN
385    18.00
386     1.00
387    36.00
388      NaN
389    17.00
390    36.00
391    21.00
392    28.00
393    23.00
394    24.00
395    22.00
396    31.00
397    46.00
398    23.00
399    28.00
400    39.00
401    26.00
402    21.00
403    28.00
404    20.00
405    34.00
406    51.00
407     3.00
408    21.00
409      NaN
410      NaN
411      NaN
412    33.00
413      NaN
414    44.00
415      NaN
416    34.00
417    18.00
418    30.00
419    10.00
420      NaN
421    21.00
422    29.00
423    28.00
424    18.00
425      NaN
426    28.00
427    19.00
428      NaN
429    32.00
430    28.00
431      NaN
432    42.00
433    17.00
434    50.00
435    14.00
436    21.00
437    24.00
438    64.00
439    31.00
440    45.00
441    20.00
442    25.00
443    28.00
444      NaN
445     4.00
446    13.00
447    34.00
448     5.00
449    52.00
450    36.00
451      NaN
452    30.00
453    49.00
454      NaN
455    29.00
456    65.00
457      NaN
458    50.00
459      NaN
460    48.00
461    34.00
462    47.00
463    48.00
464      NaN
465    38.00
466      NaN
467    56.00
468      NaN
469     0.75
470      NaN
471    38.00
472    33.00
473    23.00
474    22.00
475      NaN
476    34.00
477    29.00
478    22.00
479     2.00
480     9.00
481      NaN
482    50.00
483    63.00
484    25.00
485      NaN
486    35.00
487    58.00
488    30.00
489     9.00
490      NaN
491    21.00
492    55.00
493    71.00
494    21.00
495      NaN
496    54.00
497      NaN
498    25.00
499    24.00
500    17.00
501    21.00
502      NaN
503    37.00
504    16.00
505    18.00
506    33.00
507      NaN
508    28.00
509    26.00
510    29.00
511      NaN
512    36.00
513    54.00
514    24.00
515    47.00
516    34.00
517      NaN
518    36.00
519    32.00
520    30.00
521    22.00
522      NaN
523    44.00
524      NaN
525    40.50
526    50.00
527      NaN
528    39.00
529    23.00
530     2.00
531      NaN
532    17.00
533      NaN
534    30.00
535     7.00
536    45.00
537    30.00
538      NaN
539    22.00
540    36.00
541     9.00
542    11.00
543    32.00
544    50.00
545    64.00
546    19.00
547      NaN
548    33.00
549     8.00
550    17.00
551    27.00
552      NaN
553    22.00
554    22.00
555    62.00
556    48.00
557      NaN
558    39.00
559    36.00
560      NaN
561    40.00
562    28.00
563      NaN
564      NaN
565    24.00
566    19.00
567    29.00
568      NaN
569    32.00
570    62.00
571    53.00
572    36.00
573      NaN
574    16.00
575    19.00
576    34.00
577    39.00
578      NaN
579    32.00
580    25.00
581    39.00
582    54.00
583    36.00
584      NaN
585    18.00
586    47.00
587    60.00
588    22.00
589      NaN
590    35.00
591    52.00
592    47.00
593      NaN
594    37.00
595    36.00
596      NaN
597    49.00
598      NaN
599    49.00
600    24.00
601      NaN
602      NaN
603    44.00
604    35.00
605    36.00
606    30.00
607    27.00
608    22.00
609    40.00
610    39.00
611      NaN
612      NaN
613      NaN
614    35.00
615    24.00
616    34.00
617    26.00
618     4.00
619    26.00
620    27.00
621    42.00
622    20.00
623    21.00
624    21.00
625    61.00
626    57.00
627    21.00
628    26.00
629      NaN
630    80.00
631    51.00
632    32.00
633      NaN
634     9.00
635    28.00
636    32.00
637    31.00
638    41.00
639      NaN
640    20.00
641    24.00
642     2.00
643      NaN
644     0.75
645    48.00
646    19.00
647    56.00
648      NaN
649    23.00
650      NaN
651    18.00
652    21.00
653      NaN
654    18.00
655    24.00
656      NaN
657    32.00
658    23.00
659    58.00
660    50.00
661    40.00
662    47.00
663    36.00
664    20.00
665    32.00
666    25.00
667      NaN
668    43.00
669      NaN
670    40.00
671    31.00
672    70.00
673    31.00
674      NaN
675    18.00
676    24.50
677    18.00
678    43.00
679    36.00
680      NaN
681    27.00
682    20.00
683    14.00
684    60.00
685    25.00
686    14.00
687    19.00
688    18.00
689    15.00
690    31.00
691     4.00
692      NaN
693    25.00
694    60.00
695    52.00
696    44.00
697      NaN
698    49.00
699    42.00
700    18.00
701    35.00
702    18.00
703    25.00
704    26.00
705    39.00
706    45.00
707    42.00
708    22.00
709      NaN
710    24.00
711      NaN
712    48.00
713    29.00
714    52.00
715    19.00
716    38.00
717    27.00
718      NaN
719    33.00
720     6.00
721    17.00
722    34.00
723    50.00
724    27.00
725    20.00
726    30.00
727      NaN
728    25.00
729    25.00
730    29.00
731    11.00
732      NaN
733    23.00
734    23.00
735    28.50
736    48.00
737    35.00
738      NaN
739      NaN
740      NaN
741    36.00
742    21.00
743    24.00
744    31.00
745    70.00
746    16.00
747    30.00
748    19.00
749    31.00
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
760      NaN
761    41.00
762    20.00
763    36.00
764    16.00
765    51.00
766      NaN
767    30.50
768      NaN
769    32.00
770    24.00
771    48.00
772    57.00
773      NaN
774    54.00
775    18.00
776      NaN
777     5.00
778      NaN
779    43.00
780    13.00
781    17.00
782    29.00
783      NaN
784    25.00
785    25.00
786    18.00
787     8.00
788     1.00
789    46.00
790      NaN
791    16.00
792      NaN
793      NaN
794    25.00
795    39.00
796    49.00
797    31.00
798    30.00
799    30.00
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
810    26.00
811    39.00
812    35.00
813     6.00
814    30.50
815      NaN
816    23.00
817    31.00
818    43.00
819    10.00
820    52.00
821    27.00
822    38.00
823    27.00
824     2.00
825      NaN
826      NaN
827     1.00
828      NaN
829    62.00
830    15.00
831     0.83
832      NaN
833    23.00
834    18.00
835    39.00
836    21.00
837      NaN
838    32.00
839      NaN
840    20.00
841    16.00
842    30.00
843    34.50
844    17.00
845    42.00
846      NaN
847    35.00
848    28.00
849      NaN
850     4.00
851    74.00
852     9.00
853    16.00
854    44.00
855    18.00
856    45.00
857    51.00
858    24.00
859      NaN
860    41.00
861    21.00
862    48.00
863      NaN
864    24.00
865    42.00
866    27.00
867    31.00
868      NaN
869     4.00
870    26.00
871    47.00
872    33.00
873    47.00
874    28.00
875    15.00
876    20.00
877    19.00
878      NaN
879    56.00
880    25.00
881    33.00
882    22.00
883    28.00
884    25.00
885    39.00
886    27.00
887    19.00
888      NaN
889    26.00
890    32.00
Name: age, dtype: float64

In [ ]:
type(titanic.iloc[:,3])

pandas.core.series.Series

###**indeks negatif**

indeks negatif baris

In [ ]:
#indeks negatif(dihitung dari belakang dan bawah)
titanic.iloc[-5:]

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [ ]:
titanic.tail(10) #sama seperti(-10)

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
881         0       3    male  33.0      0      0   7.8958        S  NaN
882         0       3  female  22.0      0      0  10.5167        S  NaN
883         0       2    male  28.0      0      0  10.5000        S  NaN
884         0       3    male  25.0      0      0   7.0500        S  NaN
885         0       3  female  39.0      0      5  29.1250        Q  NaN
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

In [ ]:
titanic[-10:-1] #kalau -1 berarti bagian terakhir tidak diikutkan

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
881         0       3    male  33.0      0      0   7.8958        S  NaN
882         0       3  female  22.0      0      0  10.5167        S  NaN
883         0       2    male  28.0      0      0  10.5000        S  NaN
884         0       3    male  25.0      0      0   7.0500        S  NaN
885         0       3  female  39.0      0      5  29.1250        Q  NaN
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C

indeks negatif kolom

In [ ]:
titanic.iloc[-5:-1,-4:] #baris ke 5 dari bawah dikurang 1 terakhir, kolom -4 dari belakang sampe semua

     parch   fare embarked deck
886      0  13.00        S  NaN
887      0  30.00        S    B
888      2  23.45        S  NaN
889      0  30.00        C    C

In [ ]:
titanic.iloc[[0,2,4]] #memilih baris ke berapa

   survived  pclass     sex   age  sibsp  parch   fare embarked deck
0         0       3    male  22.0      1      0  7.250        S  NaN
2         1       3  female  26.0      0      0  7.925        S  NaN
4         0       3    male  35.0      0      0  8.050        S  NaN

In [ ]:
titanic.iloc[[0,2,4],[1,3,6]] #memilih baris dan kolom

   pclass   age   fare
0       3  22.0  7.250
2       3  26.0  7.925
4       3  35.0  8.050

#**loc**
.loc['nama baris', 'nama kolom']

In [ ]:
titanic_baru=pd.read_csv('https://raw.githubusercontent.com/nadyasyahrita/File-Titanic/main/kapal_titanic.csv',index_col='embarked')
#index=col='embarked' untuk mengubah indeks kolom dari nomor ke string
titanic_baru

          survived  pclass     sex    age  sibsp  parch      fare deck
embarked
S                0       3    male  22.00      1      0    7.2500  NaN
C                1       1  female  38.00      1      0   71.2833    C
S                1       3  female  26.00      0      0    7.9250  NaN
S                1       1  female  35.00      1      0   53.1000    C
S                0       3    male  35.00      0      0    8.0500  NaN
Q                0       3    male    NaN      0      0    8.4583  NaN
S                0       1    male  54.00      0      0   51.8625    E
S                0       3    male   2.00      3      1   21.0750  NaN
S                1       3  female  27.00      0      2   11.1333  NaN
C                1       2  female  14.00      1      0   30.0708  NaN
S                1       3  female   4.00      1      1   16.7000    G
S                1       1  female  58.00      0      0   26.5500    C
S                0       3    male  20.00      0      0    8.0500  NaN
S                0       3    male  39.00      1      5   31.2750  NaN
S                0       3  female  14.00      0      0    7.8542  NaN
S                1       2  female  55.00      0      0   16.0000  NaN
Q                0       3    male   2.00      4      1   29.1250  NaN
S                1       2    male    NaN      0      0   13.0000  NaN
S                0       3  female  31.00      1      0   18.0000  NaN
C                1       3  female    NaN      0      0    7.2250  NaN
S                0       2    male  35.00      0      0   26.0000  NaN
S                1       2    male  34.00      0      0   13.0000    D
Q                1       3  female  15.00      0      0    8.0292  NaN
S                1       1    male  28.00      0      0   35.5000    A
S                0       3  female   8.00      3      1   21.0750  NaN
S                1       3  female  38.00      1      5   31.3875  NaN
C                0       3    male    NaN      0      0    7.2250  NaN
S                0       1    male  19.00      3      2  263.0000    C
Q                1       3  female    NaN      0      0    7.8792  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
C                0       1    male  40.00      0      0   27.7208  NaN
C                1       1  female    NaN      1      0  146.5208    B
Q                1       3  female    NaN      0      0    7.7500  NaN
S                0       2    male  66.00      0      0   10.5000  NaN
C                0       1    male  28.00      1      0   82.1708  NaN
S                0       1    male  42.00      1      0   52.0000  NaN
C                1       3    male    NaN      0      0    7.2292  NaN
S                0       3    male  21.00      0      0    8.0500  NaN
S                0       3  female  18.00      2      0   18.0000  NaN
C                1       3  female  14.00      1      0   11.2417  NaN
S                0       3  female  40.00      1      0    9.4750  NaN
S                0       2  female  27.00      1      0   21.0000  NaN
C                0       3    male    NaN      0      0    7.8958  NaN
C                1       2  female   3.00      1      2   41.5792  NaN
Q                1       3  female  19.00      0      0    7.8792  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
Q                0       3    male    NaN      1      0   15.5000  NaN
Q                1       3  female    NaN      0      0    7.7500  NaN
C                0       3    male    NaN      2      0   21.6792  NaN
S                0       3  female  18.00      1      0   17.8000  NaN
S                0       3    male   7.00      4      1   39.6875  NaN
S                0       3    male  21.00      0      0    7.8000  NaN
C                1       1  female  49.00      1      0   76.7292    D
S                1       2  female  29.00      1      0   26.0000  NaN
C                0       1    male  65.00      0      1   61.9792    B
S                1       1    male    NaN      0      0   35.5000    C
S                1       2  female  21.00      0      0   10.5000  NaN
C                0       3    male  28.50      0      0    7.2292  NaN
S                1       2  female   5.00      1      2   27.7500  NaN
S                0       3    male  11.00      5      2   46.9000  NaN
C                0       3    male  22.00      0      0    7.2292  NaN
NaN              1       1  female  38.00      0      0   80.0000    B
S                0       1    male  45.00      1      0   83.4750    C
S                0       3    male   4.00      3      2   27.9000  NaN
C                0       1    male    NaN      0      0   27.7208  NaN
C                1       3    male    NaN      1      1   15.2458  NaN
S                1       2  female  29.00      0      0   10.5000    F
S                0       3    male  19.00      0      0    8.1583  NaN
S                1       3  female  17.00      4      2    7.9250  NaN
S                0       3    male  26.00      2      0    8.6625  NaN
S                0       2    male  32.00      0      0   10.5000  NaN
S                0       3  female  16.00      5      2   46.9000  NaN
S                0       2    male  21.00      0      0   73.5000  NaN
C                0       3    male  26.00      1      0   14.4542  NaN
S                1       3    male  32.00      0      0   56.4958  NaN
S                0       3    male  25.00      0      0    7.6500    F
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       2    male   0.83      0      2   29.0000  NaN
S                1       3  female  30.00      0      0   12.4750  NaN
S                0       3    male  22.00      0      0    9.0000  NaN
S                1       3    male  29.00      0      0    9.5000  NaN
Q                1       3  female    NaN      0      0    7.7875  NaN
S                0       1    male  28.00      0      0   47.1000  NaN
S                1       2  female  17.00      0      0   10.5000  NaN
S                1       3  female  33.00      3      0   15.8500  NaN
S                0       3    male  16.00      1      3   34.3750  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       1  female  23.00      3      2  263.0000    C
S                0       3    male  24.00      0      0    8.0500  NaN
S                0       3    male  29.00      0      0    8.0500  NaN
S                0       3    male  20.00      0      0    7.8542  NaN
S                0       1    male  46.00      1      0   61.1750    E
S                0       3    male  26.00      1      2   20.5750  NaN
S                0       3    male  59.00      0      0    7.2500  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
C                0       1    male  71.00      0      0   34.6542    A
C                1       1    male  23.00      0      1   63.3583    D
S                1       2  female  34.00      0      1   23.0000  NaN
S                0       2    male  34.00      1      0   26.0000  NaN
S                0       3  female  28.00      0      0    7.8958  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       1    male  21.00      0      1   77.2875    D
S                0       3    male  33.00      0      0    8.6542  NaN
S                0       3    male  37.00      2      0    7.9250  NaN
S                0       3    male  28.00      0      0    7.8958  NaN
S                1       3  female  21.00      0      0    7.6500  NaN
S                1       3    male    NaN      0      0    7.7750  NaN
S                0       3    male  38.00      0      0    7.8958  NaN
Q                1       3  female    NaN      1      0   24.1500  NaN
S                0       1    male  47.00      0      0   52.0000    C
C                0       3  female  14.50      1      0   14.4542  NaN
S                0       3    male  22.00      0      0    8.0500  NaN
S                0       3  female  20.00      1      0    9.8250  NaN
C                0       3  female  17.00      0      0   14.4583  NaN
S                0       3    male  21.00      0      0    7.9250  NaN
Q                0       3    male  70.50      0      0    7.7500  NaN
S                0       2    male  29.00      1      0   21.0000  NaN
C                0       1    male  24.00      0      1  247.5208    B
S                0       3  female   2.00      4      2   31.2750  NaN
S                0       2    male  21.00      2      0   73.5000  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
C                0       2    male  32.50      1      0   30.0708  NaN
S                1       2  female  32.50      0      0   13.0000    E
S                0       1    male  54.00      0      1   77.2875    D
C                1       3    male  12.00      1      0   11.2417  NaN
Q                0       3    male    NaN      0      0    7.7500  NaN
S                1       3    male  24.00      0      0    7.1417  NaN
C                1       3  female    NaN      1      1   22.3583    F
S                0       3    male  45.00      0      0    6.9750  NaN
C                0       3    male  33.00      0      0    7.8958  NaN
S                0       3    male  20.00      0      0    7.0500  NaN
S                0       3  female  47.00      1      0   14.5000  NaN
S                1       2  female  29.00      1      0   26.0000  NaN
S                0       2    male  25.00      0      0   13.0000  NaN
C                0       2    male  23.00      0      0   15.0458  NaN
S                1       1  female  19.00      0      2   26.2833    D
S                0       1    male  37.00      1      0   53.1000    C
S                0       3    male  16.00      0      0    9.2167  NaN
C                0       1    male  24.00      0      0   79.2000    B
C                0       3  female    NaN      0      2   15.2458  NaN
S                1       3  female  22.00      0      0    7.7500  NaN
S                1       3  female  24.00      1      0   15.8500  NaN
Q                0       3    male  19.00      0      0    6.7500  NaN
S                0       2    male  18.00      0      0   11.5000  NaN
S                0       2    male  19.00      1      1   36.7500  NaN
S                1       3    male  27.00      0      0    7.7958  NaN
S                0       3  female   9.00      2      2   34.3750  NaN
S                0       2    male  36.50      0      2   26.0000    F
S                0       2    male  42.00      0      0   13.0000  NaN
S                0       2    male  51.00      0      0   12.5250  NaN
S                1       1  female  22.00      1      0   66.6000    C
S                0       3    male  55.50      0      0    8.0500  NaN
S                0       3    male  40.50      0      2   14.5000  NaN
S                0       3    male    NaN      0      0    7.3125  NaN
C                0       1    male  51.00      0      1   61.3792  NaN
Q                1       3  female  16.00      0      0    7.7333  NaN
S                0       3    male  30.00      0      0    8.0500  NaN
S                0       3    male    NaN      0      0    8.6625  NaN
S                0       3    male    NaN      8      2   69.5500  NaN
S                0       3    male  44.00      0      1   16.1000  NaN
S                1       2  female  40.00      0      0   15.7500  NaN
S                0       3    male  26.00      0      0    7.7750  NaN
S                0       3    male  17.00      0      0    8.6625  NaN
S                0       3    male   1.00      4      1   39.6875  NaN
S                1       3    male   9.00      0      2   20.5250  NaN
S                1       1  female    NaN      0      1   55.0000    E
S                0       3  female  45.00      1      4   27.9000  NaN
S                0       1    male    NaN      0      0   25.9250  NaN
S                0       3    male  28.00      0      0   56.4958  NaN
S                0       1    male  61.00      0      0   33.5000    B
Q                0       3    male   4.00      4      1   29.1250  NaN
S                1       3  female   1.00      1      1   11.1333  NaN
S                0       3    male  21.00      0      0    7.9250  NaN
C                0       1    male  56.00      0      0   30.6958    A
S                0       3    male  18.00      1      1    7.8542  NaN
S                0       3    male    NaN      3      1   25.4667  NaN
C                0       1  female  50.00      0      0   28.7125    C
S                0       2    male  30.00      0      0   13.0000  NaN
S                0       3    male  36.00      0      0    0.0000  NaN
S                0       3  female    NaN      8      2   69.5500  NaN
C                0       2    male    NaN      0      0   15.0500  NaN
S                0       3    male   9.00      4      2   31.3875  NaN
S                1       2    male   1.00      2      1   39.0000    F
S                1       3  female   4.00      0      2   22.0250  NaN
S                0       1    male    NaN      0      0   50.0000    A
Q                1       3  female    NaN      1      0   15.5000  NaN
S                1       1    male  45.00      0      0   26.5500  NaN
Q                0       3    male  40.00      1      1   15.5000  NaN
S                0       3    male  36.00      0      0    7.8958  NaN
S                1       2  female  32.00      0      0   13.0000  NaN
S                0       2    male  19.00      0      0   13.0000  NaN
S                1       3  female  19.00      1      0    7.8542  NaN
S                1       2    male   3.00      1      1   26.0000    F
C                1       1  female  44.00      0      0   27.7208    B
C                1       1  female  58.00      0      0  146.5208    B
Q                0       3    male    NaN      0      0    7.7500  NaN
S                0       3    male  42.00      0      1    8.4042  NaN
Q                1       3  female    NaN      0      0    7.7500  NaN
S                0       2  female  24.00      0      0   13.0000  NaN
S                0       3    male  28.00      0      0    9.5000  NaN
S                0       3    male    NaN      8      2   69.5500  NaN
S                0       3    male  34.00      0      0    6.4958  NaN
C                0       3    male  45.50      0      0    7.2250  NaN
S                1       3    male  18.00      0      0    8.0500  NaN
S                0       3  female   2.00      0      1   10.4625    G
S                0       3    male  32.00      1      0   15.8500  NaN
C                1       3    male  26.00      0      0   18.7875  NaN
Q                1       3  female  16.00      0      0    7.7500  NaN
C                1       1    male  40.00      0      0   31.0000    A
S                0       3    male  24.00      0      0    7.0500  NaN
S                1       2  female  35.00      0      0   21.0000  NaN
S                0       3    male  22.00      0      0    7.2500  NaN
S                0       2    male  30.00      0      0   13.0000  NaN
Q                0       3    male    NaN      1      0    7.7500  NaN
C                1       1  female  31.00      1      0  113.2750    D
S                1       3  female  27.00      0      0    7.9250  NaN
S                0       2    male  42.00      1      0   27.0000  NaN
C                1       1  female  32.00      0      0   76.2917    D
S                0       2    male  30.00      0      0   10.5000  NaN
S                1       3    male  16.00      0      0    8.0500  NaN
S                0       2    male  27.00      0      0   13.0000  NaN
S                0       3    male  51.00      0      0    8.0500  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
S                1       1    male  38.00      1      0   90.0000    C
S                0       3    male  22.00      0      0    9.3500  NaN
S                1       2    male  19.00      0      0   10.5000  NaN
S                0       3    male  20.50      0      0    7.2500  NaN
S                0       2    male  18.00      0      0   13.0000  NaN
S                0       3  female    NaN      3      1   25.4667  NaN
S                1       1  female  35.00      1      0   83.4750    C
S                0       3    male  29.00      0      0    7.7750  NaN
S                0       2    male  59.00      0      0   13.5000  NaN
S                1       3  female   5.00      4      2   31.3875  NaN
S                0       2    male  24.00      0      0   10.5000  NaN
S                0       3  female    NaN      0      0    7.5500  NaN
S                0       2    male  44.00      1      0   26.0000  NaN
S                1       2  female   8.00      0      2   26.2500  NaN
S                0       2    male  19.00      0      0   10.5000  NaN
S                0       2    male  33.00      0      0   12.2750  NaN
C                0       3  female    NaN      1      0   14.4542  NaN
Q                1       3  female    NaN      1      0   15.5000  NaN
S                0       2    male  29.00      0      0   10.5000  NaN
S                0       3    male  22.00      0      0    7.1250  NaN
C                0       3    male  30.00      0      0    7.2250  NaN
Q                0       1    male  44.00      2      0   90.0000    C
S                0       3  female  25.00      0      0    7.7750  NaN
S                1       2  female  24.00      0      2   14.5000  NaN
S                1       1    male  37.00      1      1   52.5542    D
S                0       2    male  54.00      1      0   26.0000  NaN
S                0       3    male    NaN      0      0    7.2500  NaN
S                0       3  female  29.00      1      1   10.4625    G
S                0       1    male  62.00      0      0   26.5500    C
S                0       3    male  30.00      1      0   16.1000  NaN
S                0       3  female  41.00      0      2   20.2125  NaN
C                1       3  female  29.00      0      2   15.2458  NaN
C                1       1  female    NaN      0      0   79.2000  NaN
S                1       1  female  30.00      0      0   86.5000    B
C                1       1  female  35.00      0      0  512.3292  NaN
S                1       2  female  50.00      0      1   26.0000  NaN
Q                0       3    male    NaN      0      0    7.7500  NaN
S                1       3    male   3.00      4      2   31.3875  NaN
S                0       1    male  52.00      1      1   79.6500    E
S                0       1    male  40.00      0      0    0.0000    B
Q                0       3  female    NaN      0      0    7.7500  NaN
S                0       2    male  36.00      0      0   10.5000  NaN
S                0       3    male  16.00      4      1   39.6875  NaN
S                1       3    male  25.00      1      0    7.7750  NaN
S                1       1  female  58.00      0      1  153.4625    C
S                1       1  female  35.00      0      0  135.6333    C
S                0       1    male    NaN      0      0   31.0000  NaN
S                1       3    male  25.00      0      0    0.0000  NaN
S                1       2  female  41.00      0      1   19.5000  NaN
C                0       1    male  37.00      0      1   29.7000    C
Q                1       3  female    NaN      0      0    7.7500  NaN
S                1       1  female  63.00      1      0   77.9583    D
S                0       3  female  45.00      0      0    7.7500  NaN
S                0       2    male    NaN      0      0    0.0000  NaN
Q                0       3    male   7.00      4      1   29.1250  NaN
S                1       3  female  35.00      1      1   20.2500  NaN

In [ ]:
titanic_baru.loc['S'] #untuk memilih baris yang dari s. kalau loc tidak harus berupa list

          survived  pclass     sex    age  sibsp  parch      fare deck
embarked
S                0       3    male  22.00      1      0    7.2500  NaN
S                1       3  female  26.00      0      0    7.9250  NaN
S                1       1  female  35.00      1      0   53.1000    C
S                0       3    male  35.00      0      0    8.0500  NaN
S                0       1    male  54.00      0      0   51.8625    E
S                0       3    male   2.00      3      1   21.0750  NaN
S                1       3  female  27.00      0      2   11.1333  NaN
S                1       3  female   4.00      1      1   16.7000    G
S                1       1  female  58.00      0      0   26.5500    C
S                0       3    male  20.00      0      0    8.0500  NaN
S                0       3    male  39.00      1      5   31.2750  NaN
S                0       3  female  14.00      0      0    7.8542  NaN
S                1       2  female  55.00      0      0   16.0000  NaN
S                1       2    male    NaN      0      0   13.0000  NaN
S                0       3  female  31.00      1      0   18.0000  NaN
S                0       2    male  35.00      0      0   26.0000  NaN
S                1       2    male  34.00      0      0   13.0000    D
S                1       1    male  28.00      0      0   35.5000    A
S                0       3  female   8.00      3      1   21.0750  NaN
S                1       3  female  38.00      1      5   31.3875  NaN
S                0       1    male  19.00      3      2  263.0000    C
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       2    male  66.00      0      0   10.5000  NaN
S                0       1    male  42.00      1      0   52.0000  NaN
S                0       3    male  21.00      0      0    8.0500  NaN
S                0       3  female  18.00      2      0   18.0000  NaN
S                0       3  female  40.00      1      0    9.4750  NaN
S                0       2  female  27.00      1      0   21.0000  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                0       3  female  18.00      1      0   17.8000  NaN
S                0       3    male   7.00      4      1   39.6875  NaN
S                0       3    male  21.00      0      0    7.8000  NaN
S                1       2  female  29.00      1      0   26.0000  NaN
S                1       1    male    NaN      0      0   35.5000    C
S                1       2  female  21.00      0      0   10.5000  NaN
S                1       2  female   5.00      1      2   27.7500  NaN
S                0       3    male  11.00      5      2   46.9000  NaN
S                0       1    male  45.00      1      0   83.4750    C
S                0       3    male   4.00      3      2   27.9000  NaN
S                1       2  female  29.00      0      0   10.5000    F
S                0       3    male  19.00      0      0    8.1583  NaN
S                1       3  female  17.00      4      2    7.9250  NaN
S                0       3    male  26.00      2      0    8.6625  NaN
S                0       2    male  32.00      0      0   10.5000  NaN
S                0       3  female  16.00      5      2   46.9000  NaN
S                0       2    male  21.00      0      0   73.5000  NaN
S                1       3    male  32.00      0      0   56.4958  NaN
S                0       3    male  25.00      0      0    7.6500    F
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       2    male   0.83      0      2   29.0000  NaN
S                1       3  female  30.00      0      0   12.4750  NaN
S                0       3    male  22.00      0      0    9.0000  NaN
S                1       3    male  29.00      0      0    9.5000  NaN
S                0       1    male  28.00      0      0   47.1000  NaN
S                1       2  female  17.00      0      0   10.5000  NaN
S                1       3  female  33.00      3      0   15.8500  NaN
S                0       3    male  16.00      1      3   34.3750  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       1  female  23.00      3      2  263.0000    C
S                0       3    male  24.00      0      0    8.0500  NaN
S                0       3    male  29.00      0      0    8.0500  NaN
S                0       3    male  20.00      0      0    7.8542  NaN
S                0       1    male  46.00      1      0   61.1750    E
S                0       3    male  26.00      1      2   20.5750  NaN
S                0       3    male  59.00      0      0    7.2500  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       2  female  34.00      0      1   23.0000  NaN
S                0       2    male  34.00      1      0   26.0000  NaN
S                0       3  female  28.00      0      0    7.8958  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       1    male  21.00      0      1   77.2875    D
S                0       3    male  33.00      0      0    8.6542  NaN
S                0       3    male  37.00      2      0    7.9250  NaN
S                0       3    male  28.00      0      0    7.8958  NaN
S                1       3  female  21.00      0      0    7.6500  NaN
S                1       3    male    NaN      0      0    7.7750  NaN
S                0       3    male  38.00      0      0    7.8958  NaN
S                0       1    male  47.00      0      0   52.0000    C
S                0       3    male  22.00      0      0    8.0500  NaN
S                0       3  female  20.00      1      0    9.8250  NaN
S                0       3    male  21.00      0      0    7.9250  NaN
S                0       2    male  29.00      1      0   21.0000  NaN
S                0       3  female   2.00      4      2   31.2750  NaN
S                0       2    male  21.00      2      0   73.5000  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       2  female  32.50      0      0   13.0000    E
S                0       1    male  54.00      0      1   77.2875    D
S                1       3    male  24.00      0      0    7.1417  NaN
S                0       3    male  45.00      0      0    6.9750  NaN
S                0       3    male  20.00      0      0    7.0500  NaN
S                0       3  female  47.00      1      0   14.5000  NaN
S                1       2  female  29.00      1      0   26.0000  NaN
S                0       2    male  25.00      0      0   13.0000  NaN
S                1       1  female  19.00      0      2   26.2833    D
S                0       1    male  37.00      1      0   53.1000    C
S                0       3    male  16.00      0      0    9.2167  NaN
S                1       3  female  22.00      0      0    7.7500  NaN
S                1       3  female  24.00      1      0   15.8500  NaN
S                0       2    male  18.00      0      0   11.5000  NaN
S                0       2    male  19.00      1      1   36.7500  NaN
S                1       3    male  27.00      0      0    7.7958  NaN
S                0       3  female   9.00      2      2   34.3750  NaN
S                0       2    male  36.50      0      2   26.0000    F
S                0       2    male  42.00      0      0   13.0000  NaN
S                0       2    male  51.00      0      0   12.5250  NaN
S                1       1  female  22.00      1      0   66.6000    C
S                0       3    male  55.50      0      0    8.0500  NaN
S                0       3    male  40.50      0      2   14.5000  NaN
S                0       3    male    NaN      0      0    7.3125  NaN
S                0       3    male  30.00      0      0    8.0500  NaN
S                0       3    male    NaN      0      0    8.6625  NaN
S                0       3    male    NaN      8      2   69.5500  NaN
S                0       3    male  44.00      0      1   16.1000  NaN
S                1       2  female  40.00      0      0   15.7500  NaN
S                0       3    male  26.00      0      0    7.7750  NaN
S                0       3    male  17.00      0      0    8.6625  NaN
S                0       3    male   1.00      4      1   39.6875  NaN
S                1       3    male   9.00      0      2   20.5250  NaN
S                1       1  female    NaN      0      1   55.0000    E
S                0       3  female  45.00      1      4   27.9000  NaN
S                0       1    male    NaN      0      0   25.9250  NaN
S                0       3    male  28.00      0      0   56.4958  NaN
S                0       1    male  61.00      0      0   33.5000    B
S                1       3  female   1.00      1      1   11.1333  NaN
S                0       3    male  21.00      0      0    7.9250  NaN
S                0       3    male  18.00      1      1    7.8542  NaN
S                0       3    male    NaN      3      1   25.4667  NaN
S                0       2    male  30.00      0      0   13.0000  NaN
S                0       3    male  36.00      0      0    0.0000  NaN
S                0       3  female    NaN      8      2   69.5500  NaN
S                0       3    male   9.00      4      2   31.3875  NaN
S                1       2    male   1.00      2      1   39.0000    F
S                1       3  female   4.00      0      2   22.0250  NaN
S                0       1    male    NaN      0      0   50.0000    A
S                1       1    male  45.00      0      0   26.5500  NaN
S                0       3    male  36.00      0      0    7.8958  NaN
S                1       2  female  32.00      0      0   13.0000  NaN
S                0       2    male  19.00      0      0   13.0000  NaN
S                1       3  female  19.00      1      0    7.8542  NaN
S                1       2    male   3.00      1      1   26.0000    F
S                0       3    male  42.00      0      1    8.4042  NaN
S                0       2  female  24.00      0      0   13.0000  NaN
S                0       3    male  28.00      0      0    9.5000  NaN
S                0       3    male    NaN      8      2   69.5500  NaN
S                0       3    male  34.00      0      0    6.4958  NaN
S                1       3    male  18.00      0      0    8.0500  NaN
S                0       3  female   2.00      0      1   10.4625    G
S                0       3    male  32.00      1      0   15.8500  NaN
S                0       3    male  24.00      0      0    7.0500  NaN
S                1       2  female  35.00      0      0   21.0000  NaN
S                0       3    male  22.00      0      0    7.2500  NaN
S                0       2    male  30.00      0      0   13.0000  NaN
S                1       3  female  27.00      0      0    7.9250  NaN
S                0       2    male  42.00      1      0   27.0000  NaN
S                0       2    male  30.00      0      0   10.5000  NaN
S                1       3    male  16.00      0      0    8.0500  NaN
S                0       2    male  27.00      0      0   13.0000  NaN
S                0       3    male  51.00      0      0    8.0500  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
S                1       1    male  38.00      1      0   90.0000    C
S                0       3    male  22.00      0      0    9.3500  NaN
S                1       2    male  19.00      0      0   10.5000  NaN
S                0       3    male  20.50      0      0    7.2500  NaN
S                0       2    male  18.00      0      0   13.0000  NaN
S                0       3  female    NaN      3      1   25.4667  NaN
S                1       1  female  35.00      1      0   83.4750    C
S                0       3    male  29.00      0      0    7.7750  NaN
S                0       2    male  59.00      0      0   13.5000  NaN
S                1       3  female   5.00      4      2   31.3875  NaN
S                0       2    male  24.00      0      0   10.5000  NaN
S                0       3  female    NaN      0      0    7.5500  NaN
S                0       2    male  44.00      1      0   26.0000  NaN
S                1       2  female   8.00      0      2   26.2500  NaN
S                0       2    male  19.00      0      0   10.5000  NaN
S                0       2    male  33.00      0      0   12.2750  NaN
S                0       2    male  29.00      0      0   10.5000  NaN
S                0       3    male  22.00      0      0    7.1250  NaN
S                0       3  female  25.00      0      0    7.7750  NaN
S                1       2  female  24.00      0      2   14.5000  NaN
S                1       1    male  37.00      1      1   52.5542    D
S                0       2    male  54.00      1      0   26.0000  NaN
S                0       3    male    NaN      0      0    7.2500  NaN
S                0       3  female  29.00      1      1   10.4625    G
S                0       1    male  62.00      0      0   26.5500    C
S                0       3    male  30.00      1      0   16.1000  NaN
S                0       3  female  41.00      0      2   20.2125  NaN
S                1       1  female  30.00      0      0   86.5000    B
S                1       2  female  50.00      0      1   26.0000  NaN
S                1       3    male   3.00      4      2   31.3875  NaN
S                0       1    male  52.00      1      1   79.6500    E
S                0       1    male  40.00      0      0    0.0000    B
S                0       2    male  36.00      0      0   10.5000  NaN
S                0       3    male  16.00      4      1   39.6875  NaN
S                1       3    male  25.00      1      0    7.7750  NaN
S                1       1  female  58.00      0      1  153.4625    C
S                1       1  female  35.00      0      0  135.6333    C
S                0       1    male    NaN      0      0   31.0000  NaN
S                1       3    male  25.00      0      0    0.0000  NaN
S                1       2  female  41.00      0      1   19.5000  NaN
S                1       1  female  63.00      1      0   77.9583    D
S                0       3  female  45.00      0      0    7.7500  NaN
S                0       2    male    NaN      0      0    0.0000  NaN
S                1       3  female  35.00      1      1   20.2500  NaN
S                0       3    male  28.00      0      0    7.8542  NaN
S                0       3    male  16.00      0      0    9.5000  NaN
S                1       3    male  19.00      0      0    8.0500  NaN
S                0       1    male    NaN      0      0   26.0000    A
S                1       3    male  30.00      0      0    9.5000  NaN
S                0       3    male  22.00      0      0    7.8958  NaN
S                1       2    male  42.00      0      0   13.0000  NaN
S                1       1  female  26.00      0      0   78.8500  NaN
S                0       3  female  24.00      0      0    8.8500  NaN
S                0       3    male  24.00      0      0    7.8958  NaN
S                0       1  female   2.00      1      2  151.5500    C
S                1       1    male    NaN      0      0   30.5000    C
S                0       3    male  19.00      0      0    0.0000  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       1    male   0.92      1      2  151.5500    C
S                0       2  female  26.00      1      1   26.0000  NaN
S                0       3    male  28.00      0      0    7.8958  NaN
S                0       2    male  43.00      1      1   26.2500  NaN
S                1       3  female  26.00      0      0    7.8542  NaN
S                1       2  female  24.00      1      0   26.0000  NaN
S                0       2    male  54.00      0      0   14.0000  NaN
S                1       1  female  31.00      0      2  164.8667    C
S                0       3    male  22.00      0      0    7.2500  NaN
S                0       3    male  27.00      0      0    7.8958  NaN
S                1       2  female  22.00      1      1   29.0000  NaN
S                0       3    male    NaN      8      2   69.5500  NaN
S                0       3    male  61.00      0      0    6.2375  NaN
S                1       2  female  36.00      0      0   13.0000    D
S                1       3  female  31.00      1      1   20.5250  NaN
S                0       1    male  45.50      0      0   28.5000    C
S                0       1    male  38.00      0      1  153.4625    C
S                0       3    male  16.00      2      0   18.0000  NaN
S                1       1  female    NaN      1      0  133.6500  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       1    male  29.00      1      0   66.6000    C
S                1       3    male  45.00      0      0    8.0500  NaN
S                0       1    male  45.00      0      0   35.5000  NaN
S                1       2    male   2.00      1      1   26.0000    F
S                1       1  female  24.00      3      2  263.0000    C
S                0       2    male  28.00      0      0   13.0000  NaN
S                0       2    male  25.00      0      0   13.0000  NaN
S                0       2    male  36.00      0      0   13.0000  NaN
S                1       2  female  24.00      0      0   13.0000    F
S                1       2  female  40.00      0      0   13.0000  NaN
S                1       3  female    NaN      1      0   16.1000  NaN
S                1       3    male   3.00      1      1   15.9000  NaN
S                0       3    male  42.00      0      0    8.6625  NaN
S                0       3    male  23.00      0      0    9.2250  NaN
S                0       1    male    NaN      0      0   35.0000    C
S                0       3    male  25.00      1      0   17.8000  NaN
S                0       3    male  28.00      0      0    9.5000  NaN
S                1       1  female  22.00      0      1   55.0000    E
S                0       2  female  38.00      0      0   13.0000  NaN
S                0       3    male  40.00      1      4   27.9000  NaN
S                0       3    male  35.00      0      0    7.0500  NaN
S                0       3    male  30.00      0      0    7.2500  NaN
S                0       3    male  18.00      1      0    6.4958  NaN
S                0       3    male  19.00      0      0    8.0500  NaN
S                0       3  female   3.00      3      1   21.0750  NaN
S                1       3  female  22.00      0      0    7.2500  NaN
S                0       3    male  19.00      0      0    7.7750  NaN
S                0       3    male  32.00      0      0    7.9250  NaN
S                1       1  female  35.00      1      0   52.0000  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       2    male  18.00      0      0   73.5000  NaN
S                0       3    male   1.00      5      2   46.9000  NaN
S                1       2  female  36.00      0      0   13.0000  NaN
S                1       1    male  36.00      1      2  120.0000    B
S                1       3    male  21.00      0      0    7.7958  NaN
S                0       3    male  28.00      2      0    7.9250  NaN
S                1       3  female  24.00      0      2   16.7000    G
S                0       3    male  22.00      0      0    7.7958  NaN
S                0       3  female  31.00      0      0    7.8542  NaN
S                0       2    male  46.00      0      0   26.0000  NaN
S                0       2    male  23.00      0      0   10.5000  NaN
S                1       2  female  28.00      0      0   12.6500  NaN

In [ ]:
titanic_baru.loc['S','age']

embarked
S    22.00
S    26.00
S    35.00
S    35.00
S    54.00
S     2.00
S    27.00
S     4.00
S    58.00
S    20.00
S    39.00
S    14.00
S    55.00
S      NaN
S    31.00
S    35.00
S    34.00
S    28.00
S     8.00
S    38.00
S    19.00
S      NaN
S    66.00
S    42.00
S    21.00
S    18.00
S    40.00
S    27.00
S      NaN
S    18.00
S     7.00
S    21.00
S    29.00
S      NaN
S    21.00
S     5.00
S    11.00
S    45.00
S     4.00
S    29.00
S    19.00
S    17.00
S    26.00
S    32.00
S    16.00
S    21.00
S    32.00
S    25.00
S      NaN
S      NaN
S     0.83
S    30.00
S    22.00
S    29.00
S    28.00
S    17.00
S    33.00
S    16.00
S      NaN
S    23.00
S    24.00
S    29.00
S    20.00
S    46.00
S    26.00
S    59.00
S      NaN
S    34.00
S    34.00
S    28.00
S      NaN
S    21.00
S    33.00
S    37.00
S    28.00
S    21.00
S      NaN
S    38.00
S    47.00
S    22.00
S    20.00
S    21.00
S    29.00
S     2.00
S    21.00
S      NaN
S    32.50
S    54.00
S    24.00
S    45.00
S    20.00
S    47.00
S    29.00
S    25.00
S    19.00
S    37.00
S    16.00
S    22.00
S    24.00
S    18.00
S    19.00
S    27.00
S     9.00
S    36.50
S    42.00
S    51.00
S    22.00
S    55.50
S    40.50
S      NaN
S    30.00
S      NaN
S      NaN
S    44.00
S    40.00
S    26.00
S    17.00
S     1.00
S     9.00
S      NaN
S    45.00
S      NaN
S    28.00
S    61.00
S     1.00
S    21.00
S    18.00
S      NaN
S    30.00
S    36.00
S      NaN
S     9.00
S     1.00
S     4.00
S      NaN
S    45.00
S    36.00
S    32.00
S    19.00
S    19.00
S     3.00
S    42.00
S    24.00
S    28.00
S      NaN
S    34.00
S    18.00
S     2.00
S    32.00
S    24.00
S    35.00
S    22.00
S    30.00
S    27.00
S    42.00
S    30.00
S    16.00
S    27.00
S    51.00
S      NaN
S    38.00
S    22.00
S    19.00
S    20.50
S    18.00
S      NaN
S    35.00
S    29.00
S    59.00
S     5.00
S    24.00
S      NaN
S    44.00
S     8.00
S    19.00
S    33.00
S    29.00
S    22.00
S    25.00
S    24.00
S    37.00
S    54.00
S      NaN
S    29.00
S    62.00
S    30.00
S    41.00
S    30.00
S    50.00
S     3.00
S    52.00
S    40.00
S    36.00
S    16.00
S    25.00
S    58.00
S    35.00
S      NaN
S    25.00
S    41.00
S    63.00
S    45.00
S      NaN
S    35.00
S    28.00
S    16.00
S    19.00
S      NaN
S    30.00
S    22.00
S    42.00
S    26.00
S    24.00
S    24.00
S     2.00
S      NaN
S    19.00
S      NaN
S     0.92
S    26.00
S    28.00
S    43.00
S    26.00
S    24.00
S    54.00
S    31.00
S    22.00
S    27.00
S    22.00
S      NaN
S    61.00
S    36.00
S    31.00
S    45.50
S    38.00
S    16.00
S      NaN
S      NaN
S    29.00
S    45.00
S    45.00
S     2.00
S    24.00
S    28.00
S    25.00
S    36.00
S    24.00
S    40.00
S      NaN
S     3.00
S    42.00
S    23.00
S      NaN
S    25.00
S    28.00
S    22.00
S    38.00
S    40.00
S    35.00
S    30.00
S    18.00
S    19.00
S     3.00
S    22.00
S    19.00
S    32.00
S    35.00
S      NaN
S    18.00
S     1.00
S    36.00
S    36.00
S    21.00
S    28.00
S    24.00
S    22.00
S    31.00
S    46.00
S    23.00
S    28.00
S    39.00
S    26.00
S    21.00
S    28.00
S    20.00
S    34.00
S    51.00
S     3.00
S    21.00
S      NaN
S      NaN
S      NaN
S    44.00
S      NaN
S    34.00
S    18.00
S    30.00
S    10.00
S    29.00
S    28.00
S    18.00
S      NaN
S    28.00
S    19.00
S    32.00
S    28.00
S      NaN
S    42.00
S    17.00
S    50.00
S    14.00
S    21.00
S    24.00
S    64.00
S    31.00
S    45.00
S    20.00
S    25.00
S    28.00
S      NaN
S     4.00
S    13.00
S    34.00
S    52.00
S    36.00
S      NaN
S      NaN
S    65.00
S      NaN
S    50.00
S    48.00
S    34.00
S    47.00
S    48.00
S      NaN
S    38.00
S      NaN
S    56.00
S      NaN
S    38.00
S    33.00
S    22.00
S      NaN
S    34.00
S    29.00
S    22.00
S     2.00
S     9.00
S      NaN
S    50.00
S    63.00
S      NaN
S    35.00
S    30.00
S     9.00
S      NaN
S    21.00
S    55.00
S    21.00
S      NaN
S    25.00
S    24.00
S    17.00
S    37.00
S    16.00
S    33.00
S      NaN
S    28.00
S    26.00
S      NaN
S    36.00
S    24.00
S    47.00
S    34.00
S    36.00
S    32.00
S    30.00
S    22.00
S    50.00
S      NaN
S    39.00
S    23.00
S     2.00
S    30.00
S     7.00
S    45.00
S      NaN
S    36.00
S     9.00
S    11.00
S    32.00
S    64.00
S    19.00
S    33.00
S     8.00
S    27.00
S    22.00
S    62.00
S    39.00
S    36.00
S    40.00
S    28.00
S      NaN
S      NaN
S    24.00
S    19.00
S    29.00
S    32.00
S    62.00
S    53.00
S    36.00
S    16.00
S    19.00
S    34.00
S    39.00
S    32.00
S    25.00
S    54.00
S    18.00
S    47.00
S    22.00
S      NaN
S    35.00
S    47.00
S    37.00
S    36.00
S      NaN
S    49.00
S    24.00
S      NaN
S      NaN
S    44.00
S    36.00
S    30.00
S    27.00
S    40.00
S    39.00
S      NaN
S    35.00
S    24.00
S    34.00
S    26.00
S     4.00
S    26.00
S    42.00
S    21.00
S    21.00
S    61.00
S    21.00
S    26.00
S    80.00
S    51.00
S      NaN
S     9.00
S    28.00
S    32.00
S    31.00
S    41.00
S      NaN
S    20.00
S     2.00
S      NaN
S    19.00
S      NaN
S    23.00
S      NaN
S    18.00
S    21.00
S    24.00
S      NaN
S    23.00
S    50.00
S    47.00
S    36.00
S    20.00
S    32.00
S    25.00
S      NaN
S    43.00
S      NaN
S    40.00
S    31.00
S    70.00
S    31.00
S      NaN
S    18.00
S    24.50
S    18.00
S    43.00
S    20.00
S    14.00
S    60.00
S    14.00
S    19.00
S    18.00
S    15.00
S    31.00
S      NaN
S    60.00
S    52.00
S    44.00
S    42.00
S    35.00
S    26.00
S    39.00
S    45.00
S    42.00
S    22.00
S      NaN
S    48.00
S    29.00
S    52.00
S    19.00
S    27.00
S    33.00
S     6.00
S    17.00
S    34.00
S    50.00
S    27.00
S    20.00
S    30.00
S    25.00
S    25.00
S    29.00
S      NaN
S    23.00
S    23.00
S    28.50
S    48.00
S      NaN
S      NaN
S      NaN
S    36.00
S    24.00
S    31.00
S    70.00
S    16.00
S    30.00
S    19.00
S     4.00
S     6.00
S    33.00
S    23.00
S    48.00
S     0.67
S    28.00
S    18.00
S    34.00
S    33.00
S      NaN
S    41.00
S    36.00
S    16.00
S    51.00
S    32.00
S    24.00
S    48.00
S    57.00
S    54.00
S    18.00
S     5.00
S    43.00
S    17.00
S    29.00
S      NaN
S    25.00
S    25.00
S    18.00
S     1.00
S    16.00
S      NaN
S    25.00
S    39.00
S    49.00
S    31.00
S    30.00
S    34.00
S    31.00
S    11.00
S    27.00
S    31.00
S    39.00
S    18.00
S    39.00
S    33.00
S    26.00
S    39.00
S    35.00
S     6.00
S    30.50
S      NaN
S    23.00
S    43.00
S    10.00
S    52.00
S    27.00
S    38.00
S    27.00
S     2.00
S      NaN
S     0.83
S    23.00
S    18.00
S    21.00
S      NaN
S    32.00
S    20.00
S    16.00
S    17.00
S    42.00
S      NaN
S    28.00
S     4.00
S    74.00
S    16.00
S    44.00
S    18.00
S    45.00
S    51.00
S    41.00
S    21.00
S    48.00
S      NaN
S    24.00
S    42.00
S    31.00
S      NaN
S     4.00
S    26.00
S    47.00
S    33.00
S    47.00
S    20.00
S    19.00
S      NaN
S    25.00
S    33.00
S    22.00
S    28.00
S    25.00
S    27.00
S    19.00
S      NaN
Name: age, dtype: float64

In [ ]:
#slicing menggunakan loc dengan baris dan kolom lebih dari 1
titanic_baru.loc['S',['age','fare']]

            age      fare
embarked
S         22.00    7.2500
S         26.00    7.9250
S         35.00   53.1000
S         35.00    8.0500
S         54.00   51.8625
S          2.00   21.0750
S         27.00   11.1333
S          4.00   16.7000
S         58.00   26.5500
S         20.00    8.0500
S         39.00   31.2750
S         14.00    7.8542
S         55.00   16.0000
S           NaN   13.0000
S         31.00   18.0000
S         35.00   26.0000
S         34.00   13.0000
S         28.00   35.5000
S          8.00   21.0750
S         38.00   31.3875
S         19.00  263.0000
S           NaN    7.8958
S         66.00   10.5000
S         42.00   52.0000
S         21.00    8.0500
S         18.00   18.0000
S         40.00    9.4750
S         27.00   21.0000
S           NaN    8.0500
S         18.00   17.8000
S          7.00   39.6875
S         21.00    7.8000
S         29.00   26.0000
S           NaN   35.5000
S         21.00   10.5000
S          5.00   27.7500
S         11.00   46.9000
S         45.00   83.4750
S          4.00   27.9000
S         29.00   10.5000
S         19.00    8.1583
S         17.00    7.9250
S         26.00    8.6625
S         32.00   10.5000
S         16.00   46.9000
S         21.00   73.5000
S         32.00   56.4958
S         25.00    7.6500
S           NaN    7.8958
S           NaN    8.0500
S          0.83   29.0000
S         30.00   12.4750
S         22.00    9.0000
S         29.00    9.5000
S         28.00   47.1000
S         17.00   10.5000
S         33.00   15.8500
S         16.00   34.3750
S           NaN    8.0500
S         23.00  263.0000
S         24.00    8.0500
S         29.00    8.0500
S         20.00    7.8542
S         46.00   61.1750
S         26.00   20.5750
S         59.00    7.2500
S           NaN    8.0500
S         34.00   23.0000
S         34.00   26.0000
S         28.00    7.8958
S           NaN    7.8958
S         21.00   77.2875
S         33.00    8.6542
S         37.00    7.9250
S         28.00    7.8958
S         21.00    7.6500
S           NaN    7.7750
S         38.00    7.8958
S         47.00   52.0000
S         22.00    8.0500
S         20.00    9.8250
S         21.00    7.9250
S         29.00   21.0000
S          2.00   31.2750
S         21.00   73.5000
S           NaN    8.0500
S         32.50   13.0000
S         54.00   77.2875
S         24.00    7.1417
S         45.00    6.9750
S         20.00    7.0500
S         47.00   14.5000
S         29.00   26.0000
S         25.00   13.0000
S         19.00   26.2833
S         37.00   53.1000
S         16.00    9.2167
S         22.00    7.7500
S         24.00   15.8500
S         18.00   11.5000
S         19.00   36.7500
S         27.00    7.7958
S          9.00   34.3750
S         36.50   26.0000
S         42.00   13.0000
S         51.00   12.5250
S         22.00   66.6000
S         55.50    8.0500
S         40.50   14.5000
S           NaN    7.3125
S         30.00    8.0500
S           NaN    8.6625
S           NaN   69.5500
S         44.00   16.1000
S         40.00   15.7500
S         26.00    7.7750
S         17.00    8.6625
S          1.00   39.6875
S          9.00   20.5250
S           NaN   55.0000
S         45.00   27.9000
S           NaN   25.9250
S         28.00   56.4958
S         61.00   33.5000
S          1.00   11.1333
S         21.00    7.9250
S         18.00    7.8542
S           NaN   25.4667
S         30.00   13.0000
S         36.00    0.0000
S           NaN   69.5500
S          9.00   31.3875
S          1.00   39.0000
S          4.00   22.0250
S           NaN   50.0000
S         45.00   26.5500
S         36.00    7.8958
S         32.00   13.0000
S         19.00   13.0000
S         19.00    7.8542
S          3.00   26.0000
S         42.00    8.4042
S         24.00   13.0000
S         28.00    9.5000
S           NaN   69.5500
S         34.00    6.4958
S         18.00    8.0500
S          2.00   10.4625
S         32.00   15.8500
S         24.00    7.0500
S         35.00   21.0000
S         22.00    7.2500
S         30.00   13.0000
S         27.00    7.9250
S         42.00   27.0000
S         30.00   10.5000
S         16.00    8.0500
S         27.00   13.0000
S         51.00    8.0500
S           NaN    7.8958
S         38.00   90.0000
S         22.00    9.3500
S         19.00   10.5000
S         20.50    7.2500
S         18.00   13.0000
S           NaN   25.4667
S         35.00   83.4750
S         29.00    7.7750
S         59.00   13.5000
S          5.00   31.3875
S         24.00   10.5000
S           NaN    7.5500
S         44.00   26.0000
S          8.00   26.2500
S         19.00   10.5000
S         33.00   12.2750
S         29.00   10.5000
S         22.00    7.1250
S         25.00    7.7750
S         24.00   14.5000
S         37.00   52.5542
S         54.00   26.0000
S           NaN    7.2500
S         29.00   10.4625
S         62.00   26.5500
S         30.00   16.1000
S         41.00   20.2125
S         30.00   86.5000
S         50.00   26.0000
S          3.00   31.3875
S         52.00   79.6500
S         40.00    0.0000
S         36.00   10.5000
S         16.00   39.6875
S         25.00    7.7750
S         58.00  153.4625
S         35.00  135.6333
S           NaN   31.0000
S         25.00    0.0000
S         41.00   19.5000
S         63.00   77.9583
S         45.00    7.7500
S           NaN    0.0000
S         35.00   20.2500
S         28.00    7.8542
S         16.00    9.5000
S         19.00    8.0500
S           NaN   26.0000
S         30.00    9.5000
S         22.00    7.8958
S         42.00   13.0000
S         26.00   78.8500
S         24.00    8.8500
S         24.00    7.8958
S          2.00  151.5500
S           NaN   30.5000
S         19.00    0.0000
S           NaN    8.0500
S          0.92  151.5500
S         26.00   26.0000
S         28.00    7.8958
S         43.00   26.2500
S         26.00    7.8542
S         24.00   26.0000
S         54.00   14.0000
S         31.00  164.8667
S         22.00    7.2500
S         27.00    7.8958
S         22.00   29.0000
S           NaN   69.5500
S         61.00    6.2375
S         36.00   13.0000
S         31.00   20.5250
S         45.50   28.5000
S         38.00  153.4625
S         16.00   18.0000
S           NaN  133.6500
S           NaN    7.8958
S         29.00   66.6000
S         45.00    8.0500
S         45.00   35.5000
S          2.00   26.0000
S         24.00  263.0000
S         28.00   13.0000
S         25.00   13.0000
S         36.00   13.0000
S         24.00   13.0000
S         40.00   13.0000
S           NaN   16.1000
S          3.00   15.9000
S         42.00    8.6625
S         23.00    9.2250
S           NaN   35.0000
S         25.00   17.8000
S         28.00    9.5000
S         22.00   55.0000
S         38.00   13.0000
S         40.00   27.9000
S         35.00    7.0500
S         30.00    7.2500
S         18.00    6.4958
S         19.00    8.0500
S          3.00   21.0750
S         22.00    7.2500
S         19.00    7.7750
S         32.00    7.9250
S         35.00   52.0000
S           NaN    7.8958
S         18.00   73.5000
S          1.00   46.9000
S         36.00   13.0000
S         36.00  120.0000
S         21.00    7.7958
S         28.00    7.9250
S         24.00   16.7000
S         22.00    7.7958
S         31.00    7.8542
S         46.00   26.0000
S         23.00   10.5000
S         28.00   12.6500
S         39.00    7.9250
S         26.00    8.0500
S         21.00    9.8250
S         28.00   15.8500
S         20.00    8.6625
S         34.00   21.0000
S         51.00    7.7500
S          3.00   18.7500
S         21.00    7.7750
S           NaN   25.4667
S           NaN    7.8958
S           NaN    0.0000
S         44.00    7.9250
S           NaN    8.0500
S         34.00   32.5000
S         18.00   13.0000
S         30.00   13.0000
S         10.00   24.1500
S         29.00    7.8750
S         28.00   14.4000
S         18.00   20.2125
S           NaN    7.2500
S         28.00   26.0000
S         19.00   26.0000
S         32.00    8.0500
S         28.00   26.5500
S           NaN   16.1000
S         42.00   26.0000
S         17.00    7.1250
S         50.00   55.9000
S         14.00  120.0000
S         21.00   34.3750
S         24.00   18.7500
S         64.00  263.0000
S         31.00   10.5000
S         45.00   26.2500
S         20.00    9.5000
S         25.00    7.7750
S         28.00   13.0000
S           NaN    8.1125
S          4.00   81.8583
S         13.00   19.5000
S         34.00   26.5500
S         52.00   30.5000
S         36.00   27.7500
S           NaN   19.9667
S           NaN    8.0500
S         65.00   26.5500
S           NaN   51.8625
S         50.00   10.5000
S         48.00   26.5500
S         34.00    8.0500
S         47.00   38.5000
S         48.00   13.0000
S           NaN    8.0500
S         38.00    7.0500
S           NaN    0.0000
S         56.00   26.5500
S           NaN    7.2500
S         38.00    8.6625
S         33.00   27.7500
S         22.00    9.8375
S           NaN   52.0000
S         34.00   21.0000
S         29.00    7.0458
S         22.00    7.5208
S          2.00   12.2875
S          9.00   46.9000
S           NaN    0.0000
S         50.00    8.0500
S         63.00    9.5875
S           NaN   25.4667
S         35.00   90.0000
S         30.00    8.0500
S          9.00   15.9000
S           NaN   19.9667
S         21.00    7.2500
S         55.00   30.5000
S         21.00    8.0500
S           NaN   15.1000
S         25.00  151.5500
S         24.00    7.7958
S         17.00    8.6625
S         37.00    9.5875
S         16.00   86.5000
S         33.00   26.0000
S           NaN   26.5500
S         28.00   22.5250
S         26.00   56.4958
S           NaN    8.0500
S         36.00   26.2875
S         24.00    7.4958
S         47.00   34.0208
S         34.00   10.5000
S         36.00   26.0000
S         32.00    7.8958
S         30.00   93.5000
S         22.00    7.8958
S         50.00   10.5000
S           NaN  221.7792
S         39.00    7.9250
S         23.00   11.5000
S          2.00   26.0000
S         30.00    8.6625
S          7.00   26.2500
S         45.00   26.5500
S           NaN   14.5000
S         36.00   71.0000
S          9.00   31.2750
S         11.00   31.2750
S         32.00   26.0000
S         64.00   26.0000
S         19.00   26.0000
S         33.00   20.5250
S          8.00   36.7500
S         27.00   26.0000
S         22.00    7.7750
S         62.00   26.5500
S         39.00   79.6500
S         36.00   17.4000
S         40.00    7.8958
S         28.00   13.5000
S           NaN    8.0500
S           NaN    8.0500
S         24.00   24.1500
S         19.00    7.8958
S         29.00   21.0750
S         32.00    7.8542
S         62.00   10.5000
S         53.00   51.4792
S         36.00   26.3875
S         16.00    8.0500
S         19.00   14.5000
S         34.00   13.0000
S         39.00   55.9000
S         32.00    7.9250
S         25.00   30.0000
S         54.00   26.0000
S         18.00   79.6500
S         47.00   15.0000
S         22.00    8.0500
S           NaN    8.0500
S         35.00    7.1250
S         47.00    7.2500
S         37.00   26.0000
S         36.00   24.1500
S           NaN   33.0000
S         49.00    0.0000
S         24.00   27.0000
S           NaN    7.8958
S           NaN   42.4000
S         44.00    8.0500
S         36.00   15.5500
S         30.00    7.8958
S         27.00   30.5000
S         40.00  153.4625
S         39.00   31.2750
S           NaN    7.0500
S         35.00    8.0500
S         24.00   65.0000
S         34.00   14.4000
S         26.00   16.1000
S          4.00   39.0000
S         26.00   10.5000
S         42.00   52.5542
S         21.00    7.8542
S         21.00   16.1000
S         61.00   32.3208
S         21.00   77.9583
S         26.00    7.8958
S         80.00   30.0000
S         51.00    7.0542
S           NaN    0.0000
S          9.00   27.9000
S         28.00   13.0000
S         32.00    7.9250
S         31.00   26.2500
S         41.00   39.6875
S           NaN   16.1000
S         20.00    7.8542
S          2.00   27.9000
S           NaN   56.4958
S         19.00    7.8958
S           NaN    7.5500
S         23.00    7.5500
S           NaN    7.8958
S         18.00   23.0000
S         21.00    8.4333
S         24.00   73.5000
S           NaN    7.8958
S         23.00   13.0000
S         50.00  133.6500
S         47.00   25.5875
S         36.00    7.4958
S         20.00    7.9250
S         32.00   73.5000
S         25.00   13.0000
S           NaN    7.7750
S         43.00    8.0500
S           NaN   52.0000
S         40.00   39.0000
S         31.00   52.0000
S         70.00   10.5000
S         31.00   13.0000
S           NaN    0.0000
S         18.00    7.7750
S         24.50    8.0500
S         18.00    9.8417
S         43.00   46.9000
S         20.00    9.2250
S         14.00   46.9000
S         60.00   39.0000
S         14.00   39.6875
S         19.00   10.1708
S         18.00    7.7958
S         15.00  211.3375
S         31.00   57.0000
S           NaN   56.4958
S         60.00   26.5500
S         52.00   13.5000
S         44.00    8.0500
S         42.00    7.6500
S         35.00   26.2875
S         26.00    7.8542
S         39.00   26.0000
S         45.00   13.5000
S         42.00   26.2875
S         22.00  151.5500
S           NaN   26.5500
S         48.00   52.0000
S         29.00    9.4833
S         52.00   13.0000
S         19.00    7.6500
S         27.00   10.5000
S         33.00    7.7750
S          6.00   33.0000
S         17.00    7.0542
S         34.00   13.0000
S         50.00   13.0000
S         27.00   53.1000
S         20.00    8.6625
S         30.00   21.0000
S         25.00   26.0000
S         25.00    7.9250
S         29.00  211.3375
S           NaN    0.0000
S         23.00   13.0000
S         23.00   13.0000
S         28.50   16.1000
S         48.00   34.3750
S           NaN    7.8958
S           NaN    7.8958
S           NaN   30.0000
S         36.00   78.8500
S         24.00   16.1000
S         31.00    7.9250
S         70.00   71.0000
S         16.00   20.2500
S         30.00   13.0000
S         19.00   53.1000
S          4.00   23.0000
S          6.00   12.4750
S         33.00    9.5000
S         23.00    7.8958
S         48.00   65.0000
S          0.67   14.5000
S         28.00    7.7958
S         18.00   11.5000
S         34.00    8.0500
S         33.00   86.5000
S           NaN   14.5000
S         41.00    7.1250
S         36.00  120.0000
S         16.00    7.7750
S         51.00   77.9583
S         32.00    8.3625
S         24.00    9.5000
S         48.00    7.8542
S         57.00   10.5000
S         54.00   23.0000
S         18.00    7.7500
S          5.00   12.4750
S         43.00  211.3375
S         17.00   57.0000
S         29.00   30.0000
S           NaN   23.4500
S         25.00    7.0500
S         25.00    7.2500
S         18.00    7.4958
S          1.00   20.5750
S         16.00   26.0000
S           NaN   69.5500
S         25.00    7.8958
S         39.00   13.0000
S         49.00   25.9292
S         31.00    8.6833
S         30.00   24.1500
S         34.00   13.0000
S         31.00   26.2500
S         11.00  120.0000
S         27.00    6.9750
S         31.00    7.7750
S         39.00    0.0000
S         18.00    7.7750
S         39.00   13.0000
S         33.00   53.1000
S         26.00    7.8875
S         39.00   24.1500
S         35.00   10.5000
S          6.00   31.2750
S         30.50    8.0500
S           NaN    0.0000
S         23.00    7.9250
S         43.00    6.4500
S         10.00   27.9000
S         52.00   93.5000
S         27.00    8.6625
S         38.00    0.0000
S         27.00   12.4750
S          2.00   39.6875
S           NaN   56.4958
S          0.83   18.7500
S         23.00    7.8542
S         18.00    8.3000
S         21.00    8.6625
S           NaN    8.0500
S         32.00   56.4958
S         20.00    7.9250
S         16.00   10.5000
S         17.00    8.6625
S         42.00    7.5500
S           NaN   69.5500
S         28.00   33.0000
S          4.00   31.2750
S         74.00    7.7750
S         16.00   39.4000
S         44.00   26.0000
S         18.00    9.3500
S         45.00  164.8667
S         51.00   26.5500
S         41.00   14.1083
S         21.00   11.5000
S         48.00   25.9292
S           NaN   69.5500
S         24.00   13.0000
S         42.00   13.0000
S         31.00   50.4958
S           NaN    9.5000
S          4.00   11.1333
S         26.00    7.8958
S         47.00   52.5542
S         33.00    5.0000
S         47.00    9.0000
S         20.00    9.8458
S         19.00    7.8958
S           NaN    7.8958
S         25.00   26.0000
S         33.00    7.8958
S         22.00   10.5167
S         28.00   10.5000
S         25.00    7.0500
S         27.00   13.0000
S         19.00   30.0000
S           NaN   23.4500

In [ ]:
titanic_baru.loc[['S','Q'],['age','fare']] #lihat perbedaannya dari yg di atas, lihat di [ ]

            age      fare
embarked
S         22.00    7.2500
S         26.00    7.9250
S         35.00   53.1000
S         35.00    8.0500
S         54.00   51.8625
S          2.00   21.0750
S         27.00   11.1333
S          4.00   16.7000
S         58.00   26.5500
S         20.00    8.0500
S         39.00   31.2750
S         14.00    7.8542
S         55.00   16.0000
S           NaN   13.0000
S         31.00   18.0000
S         35.00   26.0000
S         34.00   13.0000
S         28.00   35.5000
S          8.00   21.0750
S         38.00   31.3875
S         19.00  263.0000
S           NaN    7.8958
S         66.00   10.5000
S         42.00   52.0000
S         21.00    8.0500
S         18.00   18.0000
S         40.00    9.4750
S         27.00   21.0000
S           NaN    8.0500
S         18.00   17.8000
S          7.00   39.6875
S         21.00    7.8000
S         29.00   26.0000
S           NaN   35.5000
S         21.00   10.5000
S          5.00   27.7500
S         11.00   46.9000
S         45.00   83.4750
S          4.00   27.9000
S         29.00   10.5000
S         19.00    8.1583
S         17.00    7.9250
S         26.00    8.6625
S         32.00   10.5000
S         16.00   46.9000
S         21.00   73.5000
S         32.00   56.4958
S         25.00    7.6500
S           NaN    7.8958
S           NaN    8.0500
S          0.83   29.0000
S         30.00   12.4750
S         22.00    9.0000
S         29.00    9.5000
S         28.00   47.1000
S         17.00   10.5000
S         33.00   15.8500
S         16.00   34.3750
S           NaN    8.0500
S         23.00  263.0000
S         24.00    8.0500
S         29.00    8.0500
S         20.00    7.8542
S         46.00   61.1750
S         26.00   20.5750
S         59.00    7.2500
S           NaN    8.0500
S         34.00   23.0000
S         34.00   26.0000
S         28.00    7.8958
S           NaN    7.8958
S         21.00   77.2875
S         33.00    8.6542
S         37.00    7.9250
S         28.00    7.8958
S         21.00    7.6500
S           NaN    7.7750
S         38.00    7.8958
S         47.00   52.0000
S         22.00    8.0500
S         20.00    9.8250
S         21.00    7.9250
S         29.00   21.0000
S          2.00   31.2750
S         21.00   73.5000
S           NaN    8.0500
S         32.50   13.0000
S         54.00   77.2875
S         24.00    7.1417
S         45.00    6.9750
S         20.00    7.0500
S         47.00   14.5000
S         29.00   26.0000
S         25.00   13.0000
S         19.00   26.2833
S         37.00   53.1000
S         16.00    9.2167
S         22.00    7.7500
S         24.00   15.8500
S         18.00   11.5000
S         19.00   36.7500
S         27.00    7.7958
S          9.00   34.3750
S         36.50   26.0000
S         42.00   13.0000
S         51.00   12.5250
S         22.00   66.6000
S         55.50    8.0500
S         40.50   14.5000
S           NaN    7.3125
S         30.00    8.0500
S           NaN    8.6625
S           NaN   69.5500
S         44.00   16.1000
S         40.00   15.7500
S         26.00    7.7750
S         17.00    8.6625
S          1.00   39.6875
S          9.00   20.5250
S           NaN   55.0000
S         45.00   27.9000
S           NaN   25.9250
S         28.00   56.4958
S         61.00   33.5000
S          1.00   11.1333
S         21.00    7.9250
S         18.00    7.8542
S           NaN   25.4667
S         30.00   13.0000
S         36.00    0.0000
S           NaN   69.5500
S          9.00   31.3875
S          1.00   39.0000
S          4.00   22.0250
S           NaN   50.0000
S         45.00   26.5500
S         36.00    7.8958
S         32.00   13.0000
S         19.00   13.0000
S         19.00    7.8542
S          3.00   26.0000
S         42.00    8.4042
S         24.00   13.0000
S         28.00    9.5000
S           NaN   69.5500
S         34.00    6.4958
S         18.00    8.0500
S          2.00   10.4625
S         32.00   15.8500
S         24.00    7.0500
S         35.00   21.0000
S         22.00    7.2500
S         30.00   13.0000
S         27.00    7.9250
S         42.00   27.0000
S         30.00   10.5000
S         16.00    8.0500
S         27.00   13.0000
S         51.00    8.0500
S           NaN    7.8958
S         38.00   90.0000
S         22.00    9.3500
S         19.00   10.5000
S         20.50    7.2500
S         18.00   13.0000
S           NaN   25.4667
S         35.00   83.4750
S         29.00    7.7750
S         59.00   13.5000
S          5.00   31.3875
S         24.00   10.5000
S           NaN    7.5500
S         44.00   26.0000
S          8.00   26.2500
S         19.00   10.5000
S         33.00   12.2750
S         29.00   10.5000
S         22.00    7.1250
S         25.00    7.7750
S         24.00   14.5000
S         37.00   52.5542
S         54.00   26.0000
S           NaN    7.2500
S         29.00   10.4625
S         62.00   26.5500
S         30.00   16.1000
S         41.00   20.2125
S         30.00   86.5000
S         50.00   26.0000
S          3.00   31.3875
S         52.00   79.6500
S         40.00    0.0000
S         36.00   10.5000
S         16.00   39.6875
S         25.00    7.7750
S         58.00  153.4625
S         35.00  135.6333
S           NaN   31.0000
S         25.00    0.0000
S         41.00   19.5000
S         63.00   77.9583
S         45.00    7.7500
S           NaN    0.0000
S         35.00   20.2500
S         28.00    7.8542
S         16.00    9.5000
S         19.00    8.0500
S           NaN   26.0000
S         30.00    9.5000
S         22.00    7.8958
S         42.00   13.0000
S         26.00   78.8500
S         24.00    8.8500
S         24.00    7.8958
S          2.00  151.5500
S           NaN   30.5000
S         19.00    0.0000
S           NaN    8.0500
S          0.92  151.5500
S         26.00   26.0000
S         28.00    7.8958
S         43.00   26.2500
S         26.00    7.8542
S         24.00   26.0000
S         54.00   14.0000
S         31.00  164.8667
S         22.00    7.2500
S         27.00    7.8958
S         22.00   29.0000
S           NaN   69.5500
S         61.00    6.2375
S         36.00   13.0000
S         31.00   20.5250
S         45.50   28.5000
S         38.00  153.4625
S         16.00   18.0000
S           NaN  133.6500
S           NaN    7.8958
S         29.00   66.6000
S         45.00    8.0500
S         45.00   35.5000
S          2.00   26.0000
S         24.00  263.0000
S         28.00   13.0000
S         25.00   13.0000
S         36.00   13.0000
S         24.00   13.0000
S         40.00   13.0000
S           NaN   16.1000
S          3.00   15.9000
S         42.00    8.6625
S         23.00    9.2250
S           NaN   35.0000
S         25.00   17.8000
S         28.00    9.5000
S         22.00   55.0000
S         38.00   13.0000
S         40.00   27.9000
S         35.00    7.0500
S         30.00    7.2500
S         18.00    6.4958
S         19.00    8.0500
S          3.00   21.0750
S         22.00    7.2500
S         19.00    7.7750
S         32.00    7.9250
S         35.00   52.0000
S           NaN    7.8958
S         18.00   73.5000
S          1.00   46.9000
S         36.00   13.0000
S         36.00  120.0000
S         21.00    7.7958
S         28.00    7.9250
S         24.00   16.7000
S         22.00    7.7958
S         31.00    7.8542
S         46.00   26.0000
S         23.00   10.5000
S         28.00   12.6500
S         39.00    7.9250
S         26.00    8.0500
S         21.00    9.8250
S         28.00   15.8500
S         20.00    8.6625
S         34.00   21.0000
S         51.00    7.7500
S          3.00   18.7500
S         21.00    7.7750
S           NaN   25.4667
S           NaN    7.8958
S           NaN    0.0000
S         44.00    7.9250
S           NaN    8.0500
S         34.00   32.5000
S         18.00   13.0000
S         30.00   13.0000
S         10.00   24.1500
S         29.00    7.8750
S         28.00   14.4000
S         18.00   20.2125
S           NaN    7.2500
S         28.00   26.0000
S         19.00   26.0000
S         32.00    8.0500
S         28.00   26.5500
S           NaN   16.1000
S         42.00   26.0000
S         17.00    7.1250
S         50.00   55.9000
S         14.00  120.0000
S         21.00   34.3750
S         24.00   18.7500
S         64.00  263.0000
S         31.00   10.5000
S         45.00   26.2500
S         20.00    9.5000
S         25.00    7.7750
S         28.00   13.0000
S           NaN    8.1125
S          4.00   81.8583
S         13.00   19.5000
S         34.00   26.5500
S         52.00   30.5000
S         36.00   27.7500
S           NaN   19.9667
S           NaN    8.0500
S         65.00   26.5500
S           NaN   51.8625
S         50.00   10.5000
S         48.00   26.5500
S         34.00    8.0500
S         47.00   38.5000
S         48.00   13.0000
S           NaN    8.0500
S         38.00    7.0500
S           NaN    0.0000
S         56.00   26.5500
S           NaN    7.2500
S         38.00    8.6625
S         33.00   27.7500
S         22.00    9.8375
S           NaN   52.0000
S         34.00   21.0000
S         29.00    7.0458
S         22.00    7.5208
S          2.00   12.2875
S          9.00   46.9000
S           NaN    0.0000
S         50.00    8.0500
S         63.00    9.5875
S           NaN   25.4667
S         35.00   90.0000
S         30.00    8.0500
S          9.00   15.9000
S           NaN   19.9667
S         21.00    7.2500
S         55.00   30.5000
S         21.00    8.0500
S           NaN   15.1000
S         25.00  151.5500
S         24.00    7.7958
S         17.00    8.6625
S         37.00    9.5875
S         16.00   86.5000
S         33.00   26.0000
S           NaN   26.5500
S         28.00   22.5250
S         26.00   56.4958
S           NaN    8.0500
S         36.00   26.2875
S         24.00    7.4958
S         47.00   34.0208
S         34.00   10.5000
S         36.00   26.0000
S         32.00    7.8958
S         30.00   93.5000
S         22.00    7.8958
S         50.00   10.5000
S           NaN  221.7792
S         39.00    7.9250
S         23.00   11.5000
S          2.00   26.0000
S         30.00    8.6625
S          7.00   26.2500
S         45.00   26.5500
S           NaN   14.5000
S         36.00   71.0000
S          9.00   31.2750
S         11.00   31.2750
S         32.00   26.0000
S         64.00   26.0000
S         19.00   26.0000
S         33.00   20.5250
S          8.00   36.7500
S         27.00   26.0000
S         22.00    7.7750
S         62.00   26.5500
S         39.00   79.6500
S         36.00   17.4000
S         40.00    7.8958
S         28.00   13.5000
S           NaN    8.0500
S           NaN    8.0500
S         24.00   24.1500
S         19.00    7.8958
S         29.00   21.0750
S         32.00    7.8542
S         62.00   10.5000
S         53.00   51.4792
S         36.00   26.3875
S         16.00    8.0500
S         19.00   14.5000
S         34.00   13.0000
S         39.00   55.9000
S         32.00    7.9250
S         25.00   30.0000
S         54.00   26.0000
S         18.00   79.6500
S         47.00   15.0000
S         22.00    8.0500
S           NaN    8.0500
S         35.00    7.1250
S         47.00    7.2500
S         37.00   26.0000
S         36.00   24.1500
S           NaN   33.0000
S         49.00    0.0000
S         24.00   27.0000
S           NaN    7.8958
S           NaN   42.4000
S         44.00    8.0500
S         36.00   15.5500
S         30.00    7.8958
S         27.00   30.5000
S         40.00  153.4625
S         39.00   31.2750
S           NaN    7.0500
S         35.00    8.0500
S         24.00   65.0000
S         34.00   14.4000
S         26.00   16.1000
S          4.00   39.0000
S         26.00   10.5000
S         42.00   52.5542
S         21.00    7.8542
S         21.00   16.1000
S         61.00   32.3208
S         21.00   77.9583
S         26.00    7.8958
S         80.00   30.0000
S         51.00    7.0542
S           NaN    0.0000
S          9.00   27.9000
S         28.00   13.0000
S         32.00    7.9250
S         31.00   26.2500
S         41.00   39.6875
S           NaN   16.1000
S         20.00    7.8542
S          2.00   27.9000
S           NaN   56.4958
S         19.00    7.8958
S           NaN    7.5500
S         23.00    7.5500
S           NaN    7.8958
S         18.00   23.0000
S         21.00    8.4333
S         24.00   73.5000
S           NaN    7.8958
S         23.00   13.0000
S         50.00  133.6500
S         47.00   25.5875
S         36.00    7.4958
S         20.00    7.9250
S         32.00   73.5000
S         25.00   13.0000
S           NaN    7.7750
S         43.00    8.0500
S           NaN   52.0000
S         40.00   39.0000
S         31.00   52.0000
S         70.00   10.5000
S         31.00   13.0000
S           NaN    0.0000
S         18.00    7.7750
S         24.50    8.0500
S         18.00    9.8417
S         43.00   46.9000
S         20.00    9.2250
S         14.00   46.9000
S         60.00   39.0000
S         14.00   39.6875
S         19.00   10.1708
S         18.00    7.7958
S         15.00  211.3375
S         31.00   57.0000
S           NaN   56.4958
S         60.00   26.5500
S         52.00   13.5000
S         44.00    8.0500
S         42.00    7.6500
S         35.00   26.2875
S         26.00    7.8542
S         39.00   26.0000
S         45.00   13.5000
S         42.00   26.2875
S         22.00  151.5500
S           NaN   26.5500
S         48.00   52.0000
S         29.00    9.4833
S         52.00   13.0000
S         19.00    7.6500
S         27.00   10.5000
S         33.00    7.7750
S          6.00   33.0000
S         17.00    7.0542
S         34.00   13.0000
S         50.00   13.0000
S         27.00   53.1000
S         20.00    8.6625
S         30.00   21.0000
S         25.00   26.0000
S         25.00    7.9250
S         29.00  211.3375
S           NaN    0.0000
S         23.00   13.0000
S         23.00   13.0000
S         28.50   16.1000
S         48.00   34.3750
S           NaN    7.8958
S           NaN    7.8958
S           NaN   30.0000
S         36.00   78.8500
S         24.00   16.1000
S         31.00    7.9250
S         70.00   71.0000
S         16.00   20.2500
S         30.00   13.0000
S         19.00   53.1000
S          4.00   23.0000
S          6.00   12.4750
S         33.00    9.5000
S         23.00    7.8958
S         48.00   65.0000
S          0.67   14.5000
S         28.00    7.7958
S         18.00   11.5000
S         34.00    8.0500
S         33.00   86.5000
S           NaN   14.5000
S         41.00    7.1250
S         36.00  120.0000
S         16.00    7.7750
S         51.00   77.9583
S         32.00    8.3625
S         24.00    9.5000
S         48.00    7.8542
S         57.00   10.5000
S         54.00   23.0000
S         18.00    7.7500
S          5.00   12.4750
S         43.00  211.3375
S         17.00   57.0000
S         29.00   30.0000
S           NaN   23.4500
S         25.00    7.0500
S         25.00    7.2500
S         18.00    7.4958
S          1.00   20.5750
S         16.00   26.0000
S           NaN   69.5500
S         25.00    7.8958
S         39.00   13.0000
S         49.00   25.9292
S         31.00    8.6833
S         30.00   24.1500
S         34.00   13.0000
S         31.00   26.2500
S         11.00  120.0000
S         27.00    6.9750
S         31.00    7.7750
S         39.00    0.0000
S         18.00    7.7750
S         39.00   13.0000
S         33.00   53.1000
S         26.00    7.8875
S         39.00   24.1500
S         35.00   10.5000
S          6.00   31.2750
S         30.50    8.0500
S           NaN    0.0000
S         23.00    7.9250
S         43.00    6.4500
S         10.00   27.9000
S         52.00   93.5000
S         27.00    8.6625
S         38.00    0.0000
S         27.00   12.4750
S          2.00   39.6875
S           NaN   56.4958
S          0.83   18.7500
S         23.00    7.8542
S         18.00    8.3000
S         21.00    8.6625
S           NaN    8.0500
S         32.00   56.4958
S         20.00    7.9250
S         16.00   10.5000
S         17.00    8.6625
S         42.00    7.5500
S           NaN   69.5500
S         28.00   33.0000
S          4.00   31.2750
S         74.00    7.7750
S         16.00   39.4000
S         44.00   26.0000
S         18.00    9.3500
S         45.00  164.8667
S         51.00   26.5500
S         41.00   14.1083
S         21.00   11.5000
S         48.00   25.9292
S           NaN   69.5500
S         24.00   13.0000
S         42.00   13.0000
S         31.00   50.4958
S           NaN    9.5000
S          4.00   11.1333
S         26.00    7.8958
S         47.00   52.5542
S         33.00    5.0000
S         47.00    9.0000
S         20.00    9.8458
S         19.00    7.8958
S           NaN    7.8958
S         25.00   26.0000
S         33.00    7.8958
S         22.00   10.5167
S         28.00   10.5000
S         25.00    7.0500
S         27.00   13.0000
S         19.00   30.0000
S           NaN   23.4500
Q           NaN    8.4583
Q          2.00   29.1250
Q         15.00    8.0292
Q           NaN    7.8792
Q           NaN    7.7500
Q         19.00    7.8792
Q           NaN   15.5000
Q           NaN    7.7500
Q           NaN    7.7875
Q           NaN   24.1500
Q         70.50    7.7500
Q           NaN    7.7500
Q         19.00    6.7500
Q         16.00    7.7333
Q          4.00   29.1250
Q           NaN   15.5000
Q         40.00   15.5000
Q           NaN    7.7500
Q           NaN    7.7500
Q         16.00    7.7500
Q           NaN    7.7500
Q           NaN   15.5000
Q         44.00   90.0000
Q           NaN    7.7500
Q           NaN    7.7500
Q           NaN    7.7500
Q          7.00   29.1250
Q         65.00    7.7500
Q         22.00    7.7500
Q           NaN    7.7500
Q           NaN   23.2500
Q           NaN   12.3500
Q         30.00   12.3500
Q           NaN   23.2500
Q           NaN    7.8792
Q           NaN    7.8792
Q           NaN   15.5000
Q           NaN    7.7500
Q           NaN    7.7292
Q           NaN    6.8583
Q         33.00   90.0000
Q         21.00    7.7333
Q           NaN    7.7500
Q           NaN    7.7500
Q           NaN    7.7250
Q         21.00    7.7500
Q           NaN    7.6292
Q         29.00    7.7500
Q           NaN   24.1500
Q         40.50    7.7500
Q           NaN    7.8292
Q           NaN    7.7500
Q           NaN    7.7500
Q           NaN    7.7500
Q           NaN   15.5000
Q           NaN    7.7500
Q         57.00   12.3500
Q           NaN    7.7333
Q           NaN    7.8292
Q         18.00    6.7500
Q         32.00   15.5000
Q           NaN    8.1375
Q           NaN    7.7333
Q         25.00    7.7417
Q           NaN   15.5000
Q           NaN    7.7375
Q         31.00    7.7500
Q         30.50    7.7500
Q           NaN   24.1500
Q           NaN    7.7500
Q           NaN    7.7375
Q          8.00   29.1250
Q           NaN    7.7500
Q           NaN    6.9500
Q           NaN    7.7500
Q         39.00   29.1250
Q         32.00    7.7500

#**Series dan DataFrame**

###**Series**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#perbedaan numpy series dan numpy array
label=['satu','dua','tiga']
angka=[10,20,30]

In [ ]:
np_angka=np.array(angka)
np_angka

array([10, 20, 30])

In [ ]:
#membuat dictionary
d={'satu':10,'dua':20,'tiga':30}
d

{'dua': 20, 'satu': 10, 'tiga': 30}

In [ ]:
pd.Series(data=angka) #kalau di panda series ada indeksnya, kalau di panda aray gadaa

0    10
1    20
2    30
dtype: int64

In [ ]:
#mengubah nama indeks menjadi string
pd.Series(data=angka, index=label)

satu    10
dua     20
tiga    30
dtype: int64

In [ ]:
#menentukan indeks sesuai keinginan
dataku=pd.Series(data=angka,index=label)
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [ ]:
dataku['satu']

10

In [ ]:
np_angka[2]

30

In [ ]:
pd.Series(d) #cara cepatnya

satu    10
dua     20
tiga    30
dtype: int64

In [ ]:
pd.Series(np_angka)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(angka) #sama saja

0    10
1    20
2    30
dtype: int64

In [ ]:
dataku.to_frame()

       0
satu  10
dua   20
tiga  30

In [ ]:
dataku #masih berupa series karena belum di assign

satu    10
dua     20
tiga    30
dtype: int64

In [ ]:
dataku = dataku.to_frame()
dataku

       0
satu  10
dua   20
tiga  30

In [ ]:
dataku #sekarang sudah jadi frame

       0
satu  10
dua   20
tiga  30

In [ ]:
d2={'satu':10, 'dua':20,'tiga':30, 'empat':40,'lima':50}
d2

{'dua': 20, 'empat': 40, 'lima': 50, 'satu': 10, 'tiga': 30}

In [ ]:
dataku=pd.Series(d)

In [ ]:
dataku2=pd.Series(d2)

In [ ]:
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [ ]:
dataku2

satu     10
dua      20
tiga     30
empat    40
lima     50
dtype: int64

In [ ]:
dataku+dataku2 #non type(NaN) karena ada yg tidak bisa dijumlahkan
#integer berubah juga jadi float

dua      40.0
empat     NaN
lima      NaN
satu     20.0
tiga     60.0
dtype: float64

###**Data Frame**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.random.seed(100) #generate bilangan random

In [ ]:
dataku=pd.DataFrame(np.random.randn(3,5),['A','B','C'],['satu','dua','tiga','empat','lima']) #urutan pertama adalah baris lalu kolom

In [ ]:
dataku

       satu       dua      tiga     empat      lima
A -1.749765  0.342680  1.153036 -0.252436  0.981321
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
C -0.458027  0.435163 -0.583595  0.816847  0.672721

In [ ]:
#memilih sebuah kolom
dataku['dua']

A    0.342680
B    0.221180
C    0.435163
Name: dua, dtype: float64

In [ ]:
type(dataku['dua'])

pandas.core.series.Series

In [ ]:
#menambahkkan kolom baru
dataku['baru']=dataku['empat']+dataku['lima']
dataku

       satu       dua      tiga     empat      lima      baru
A -1.749765  0.342680  1.153036 -0.252436  0.981321  0.728885
B  0.514219  0.221180 -1.070043 -0.189496  0.255001  0.065506
C -0.458027  0.435163 -0.583595  0.816847  0.672721  1.489568

In [ ]:
#menghapus sebuah kolom dengan menggunakan drop
dataku.drop('tiga',axis=1)

       satu       dua     empat      lima      baru
A -1.749765  0.342680 -0.252436  0.981321  0.728885
B  0.514219  0.221180 -0.189496  0.255001  0.065506
C -0.458027  0.435163  0.816847  0.672721  1.489568

In [ ]:
#lalu di assign agar tersimpan yg kolom-3 sudah dihilagkan
dataku=dataku.drop('tiga',axis=1)
dataku

       satu       dua     empat      lima      baru
A -1.749765  0.342680 -0.252436  0.981321  0.728885
B  0.514219  0.221180 -0.189496  0.255001  0.065506
C -0.458027  0.435163  0.816847  0.672721  1.489568

In [ ]:
#cara lain untuk menghapus kolom baru
dataku.drop('baru',axis=1,inplace=True)
dataku

       satu       dua     empat      lima
A -1.749765  0.342680 -0.252436  0.981321
B  0.514219  0.221180 -0.189496  0.255001
C -0.458027  0.435163  0.816847  0.672721

In [ ]:
#cara untuk menghapus baris dengan inplace
dataku.drop('B',axis=0,inplace=True)
dataku

       satu       dua     empat      lima
A -1.749765  0.342680 -0.252436  0.981321
C -0.458027  0.435163  0.816847  0.672721

In [ ]:
dataku.shape #ada dua baris dan 4 kolom

(2, 4)

proses komparasi data

In [ ]:
dataku < 0 #menggunakan boolean

   satu    dua  empat   lima
A  True  False   True  False
C  True  False  False  False

In [ ]:
#mengubah data frame ke boolean
dataku_bol=dataku<0
dataku_bol

   satu    dua  empat   lima
A  True  False   True  False
C  True  False  False  False

In [ ]:
dataku[dataku_bol] #yang kurang dari nol ditamplilkan, yg tidak=NaN

       satu  dua     empat  lima
A -1.749765  NaN -0.252436   NaN
C -0.458027  NaN       NaN   NaN

In [ ]:
dataku=pd.DataFrame(np.random.randn(3,5),['A','B','C'],['satu','dua','tiga','empat','lima'])

In [ ]:
dataku

       satu       dua      tiga     empat      lima
A  0.222400 -1.443217 -0.756352  0.816454  0.750445
B -0.455947  1.189622 -1.690617 -1.356399 -1.232435
C -0.544439 -0.668172  0.007315 -0.612939  1.299748

In [ ]:
dataku[dataku['tiga']>0]

       satu       dua      tiga     empat      lima
C -0.544439 -0.668172  0.007315 -0.612939  1.299748

In [ ]:
hasil=dataku[dataku['lima']>0]

In [ ]:
hasil

       satu       dua      tiga     empat      lima
A  0.222400 -1.443217 -0.756352  0.816454  0.750445
C -0.544439 -0.668172  0.007315 -0.612939  1.299748

##**Kapal Titanic**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
titanic=pd.read_csv('https://raw.githubusercontent.com/nadyasyahrita/File-Titanic/main/kapal_titanic.csv')

In [ ]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [ ]:
age=titanic['age']

In [ ]:
age

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
5        NaN
6      54.00
7       2.00
8      27.00
9      14.00
10      4.00
11     58.00
12     20.00
13     39.00
14     14.00
15     55.00
16      2.00
17       NaN
18     31.00
19       NaN
20     35.00
21     34.00
22     15.00
23     28.00
24      8.00
25     38.00
26       NaN
27     19.00
28       NaN
29       NaN
30     40.00
31       NaN
32       NaN
33     66.00
34     28.00
35     42.00
36       NaN
37     21.00
38     18.00
39     14.00
40     40.00
41     27.00
42       NaN
43      3.00
44     19.00
45       NaN
46       NaN
47       NaN
48       NaN
49     18.00
50      7.00
51     21.00
52     49.00
53     29.00
54     65.00
55       NaN
56     21.00
57     28.50
58      5.00
59     11.00
60     22.00
61     38.00
62     45.00
63      4.00
64       NaN
65       NaN
66     29.00
67     19.00
68     17.00
69     26.00
70     32.00
71     16.00
72     21.00
73     26.00
74     32.00
75     25.00
76       NaN
77       NaN
78      0.83
79     30.00
80     22.00
81     29.00
82       NaN
83     28.00
84     17.00
85     33.00
86     16.00
87       NaN
88     23.00
89     24.00
90     29.00
91     20.00
92     46.00
93     26.00
94     59.00
95       NaN
96     71.00
97     23.00
98     34.00
99     34.00
100    28.00
101      NaN
102    21.00
103    33.00
104    37.00
105    28.00
106    21.00
107      NaN
108    38.00
109      NaN
110    47.00
111    14.50
112    22.00
113    20.00
114    17.00
115    21.00
116    70.50
117    29.00
118    24.00
119     2.00
120    21.00
121      NaN
122    32.50
123    32.50
124    54.00
125    12.00
126      NaN
127    24.00
128      NaN
129    45.00
130    33.00
131    20.00
132    47.00
133    29.00
134    25.00
135    23.00
136    19.00
137    37.00
138    16.00
139    24.00
140      NaN
141    22.00
142    24.00
143    19.00
144    18.00
145    19.00
146    27.00
147     9.00
148    36.50
149    42.00
150    51.00
151    22.00
152    55.50
153    40.50
154      NaN
155    51.00
156    16.00
157    30.00
158      NaN
159      NaN
160    44.00
161    40.00
162    26.00
163    17.00
164     1.00
165     9.00
166      NaN
167    45.00
168      NaN
169    28.00
170    61.00
171     4.00
172     1.00
173    21.00
174    56.00
175    18.00
176      NaN
177    50.00
178    30.00
179    36.00
180      NaN
181      NaN
182     9.00
183     1.00
184     4.00
185      NaN
186      NaN
187    45.00
188    40.00
189    36.00
190    32.00
191    19.00
192    19.00
193     3.00
194    44.00
195    58.00
196      NaN
197    42.00
198      NaN
199    24.00
200    28.00
201      NaN
202    34.00
203    45.50
204    18.00
205     2.00
206    32.00
207    26.00
208    16.00
209    40.00
210    24.00
211    35.00
212    22.00
213    30.00
214      NaN
215    31.00
216    27.00
217    42.00
218    32.00
219    30.00
220    16.00
221    27.00
222    51.00
223      NaN
224    38.00
225    22.00
226    19.00
227    20.50
228    18.00
229      NaN
230    35.00
231    29.00
232    59.00
233     5.00
234    24.00
235      NaN
236    44.00
237     8.00
238    19.00
239    33.00
240      NaN
241      NaN
242    29.00
243    22.00
244    30.00
245    44.00
246    25.00
247    24.00
248    37.00
249    54.00
250      NaN
251    29.00
252    62.00
253    30.00
254    41.00
255    29.00
256      NaN
257    30.00
258    35.00
259    50.00
260      NaN
261     3.00
262    52.00
263    40.00
264      NaN
265    36.00
266    16.00
267    25.00
268    58.00
269    35.00
270      NaN
271    25.00
272    41.00
273    37.00
274      NaN
275    63.00
276    45.00
277      NaN
278     7.00
279    35.00
280    65.00
281    28.00
282    16.00
283    19.00
284      NaN
285    33.00
286    30.00
287    22.00
288    42.00
289    22.00
290    26.00
291    19.00
292    36.00
293    24.00
294    24.00
295      NaN
296    23.50
297     2.00
298      NaN
299    50.00
300      NaN
301      NaN
302    19.00
303      NaN
304      NaN
305     0.92
306      NaN
307    17.00
308    30.00
309    30.00
310    24.00
311    18.00
312    26.00
313    28.00
314    43.00
315    26.00
316    24.00
317    54.00
318    31.00
319    40.00
320    22.00
321    27.00
322    30.00
323    22.00
324      NaN
325    36.00
326    61.00
327    36.00
328    31.00
329    16.00
330      NaN
331    45.50
332    38.00
333    16.00
334      NaN
335      NaN
336    29.00
337    41.00
338    45.00
339    45.00
340     2.00
341    24.00
342    28.00
343    25.00
344    36.00
345    24.00
346    40.00
347      NaN
348     3.00
349    42.00
350    23.00
351      NaN
352    15.00
353    25.00
354      NaN
355    28.00
356    22.00
357    38.00
358      NaN
359      NaN
360    40.00
361    29.00
362    45.00
363    35.00
364      NaN
365    30.00
366    60.00
367      NaN
368      NaN
369    24.00
370    25.00
371    18.00
372    19.00
373    22.00
374     3.00
375      NaN
376    22.00
377    27.00
378    20.00
379    19.00
380    42.00
381     1.00
382    32.00
383    35.00
384      NaN
385    18.00
386     1.00
387    36.00
388      NaN
389    17.00
390    36.00
391    21.00
392    28.00
393    23.00
394    24.00
395    22.00
396    31.00
397    46.00
398    23.00
399    28.00
400    39.00
401    26.00
402    21.00
403    28.00
404    20.00
405    34.00
406    51.00
407     3.00
408    21.00
409      NaN
410      NaN
411      NaN
412    33.00
413      NaN
414    44.00
415      NaN
416    34.00
417    18.00
418    30.00
419    10.00
420      NaN
421    21.00
422    29.00
423    28.00
424    18.00
425      NaN
426    28.00
427    19.00
428      NaN
429    32.00
430    28.00
431      NaN
432    42.00
433    17.00
434    50.00
435    14.00
436    21.00
437    24.00
438    64.00
439    31.00
440    45.00
441    20.00
442    25.00
443    28.00
444      NaN
445     4.00
446    13.00
447    34.00
448     5.00
449    52.00
450    36.00
451      NaN
452    30.00
453    49.00
454      NaN
455    29.00
456    65.00
457      NaN
458    50.00
459      NaN
460    48.00
461    34.00
462    47.00
463    48.00
464      NaN
465    38.00
466      NaN
467    56.00
468      NaN
469     0.75
470      NaN
471    38.00
472    33.00
473    23.00
474    22.00
475      NaN
476    34.00
477    29.00
478    22.00
479     2.00
480     9.00
481      NaN
482    50.00
483    63.00
484    25.00
485      NaN
486    35.00
487    58.00
488    30.00
489     9.00
490      NaN
491    21.00
492    55.00
493    71.00
494    21.00
495      NaN
496    54.00
497      NaN
498    25.00
499    24.00
500    17.00
501    21.00
502      NaN
503    37.00
504    16.00
505    18.00
506    33.00
507      NaN
508    28.00
509    26.00
510    29.00
511      NaN
512    36.00
513    54.00
514    24.00
515    47.00
516    34.00
517      NaN
518    36.00
519    32.00
520    30.00
521    22.00
522      NaN
523    44.00
524      NaN
525    40.50
526    50.00
527      NaN
528    39.00
529    23.00
530     2.00
531      NaN
532    17.00
533      NaN
534    30.00
535     7.00
536    45.00
537    30.00
538      NaN
539    22.00
540    36.00
541     9.00
542    11.00
543    32.00
544    50.00
545    64.00
546    19.00
547      NaN
548    33.00
549     8.00
550    17.00
551    27.00
552      NaN
553    22.00
554    22.00
555    62.00
556    48.00
557      NaN
558    39.00
559    36.00
560      NaN
561    40.00
562    28.00
563      NaN
564      NaN
565    24.00
566    19.00
567    29.00
568      NaN
569    32.00
570    62.00
571    53.00
572    36.00
573      NaN
574    16.00
575    19.00
576    34.00
577    39.00
578      NaN
579    32.00
580    25.00
581    39.00
582    54.00
583    36.00
584      NaN
585    18.00
586    47.00
587    60.00
588    22.00
589      NaN
590    35.00
591    52.00
592    47.00
593      NaN
594    37.00
595    36.00
596      NaN
597    49.00
598      NaN
599    49.00
600    24.00
601      NaN
602      NaN
603    44.00
604    35.00
605    36.00
606    30.00
607    27.00
608    22.00
609    40.00
610    39.00
611      NaN
612      NaN
613      NaN
614    35.00
615    24.00
616    34.00
617    26.00
618     4.00
619    26.00
620    27.00
621    42.00
622    20.00
623    21.00
624    21.00
625    61.00
626    57.00
627    21.00
628    26.00
629      NaN
630    80.00
631    51.00
632    32.00
633      NaN
634     9.00
635    28.00
636    32.00
637    31.00
638    41.00
639      NaN
640    20.00
641    24.00
642     2.00
643      NaN
644     0.75
645    48.00
646    19.00
647    56.00
648      NaN
649    23.00
650      NaN
651    18.00
652    21.00
653      NaN
654    18.00
655    24.00
656      NaN
657    32.00
658    23.00
659    58.00
660    50.00
661    40.00
662    47.00
663    36.00
664    20.00
665    32.00
666    25.00
667      NaN
668    43.00
669      NaN
670    40.00
671    31.00
672    70.00
673    31.00
674      NaN
675    18.00
676    24.50
677    18.00
678    43.00
679    36.00
680      NaN
681    27.00
682    20.00
683    14.00
684    60.00
685    25.00
686    14.00
687    19.00
688    18.00
689    15.00
690    31.00
691     4.00
692      NaN
693    25.00
694    60.00
695    52.00
696    44.00
697      NaN
698    49.00
699    42.00
700    18.00
701    35.00
702    18.00
703    25.00
704    26.00
705    39.00
706    45.00
707    42.00
708    22.00
709      NaN
710    24.00
711      NaN
712    48.00
713    29.00
714    52.00
715    19.00
716    38.00
717    27.00
718      NaN
719    33.00
720     6.00
721    17.00
722    34.00
723    50.00
724    27.00
725    20.00
726    30.00
727      NaN
728    25.00
729    25.00
730    29.00
731    11.00
732      NaN
733    23.00
734    23.00
735    28.50
736    48.00
737    35.00
738      NaN
739      NaN
740      NaN
741    36.00
742    21.00
743    24.00
744    31.00
745    70.00
746    16.00
747    30.00
748    19.00
749    31.00
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
760      NaN
761    41.00
762    20.00
763    36.00
764    16.00
765    51.00
766      NaN
767    30.50
768      NaN
769    32.00
770    24.00
771    48.00
772    57.00
773      NaN
774    54.00
775    18.00
776      NaN
777     5.00
778      NaN
779    43.00
780    13.00
781    17.00
782    29.00
783      NaN
784    25.00
785    25.00
786    18.00
787     8.00
788     1.00
789    46.00
790      NaN
791    16.00
792      NaN
793      NaN
794    25.00
795    39.00
796    49.00
797    31.00
798    30.00
799    30.00
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
810    26.00
811    39.00
812    35.00
813     6.00
814    30.50
815      NaN
816    23.00
817    31.00
818    43.00
819    10.00
820    52.00
821    27.00
822    38.00
823    27.00
824     2.00
825      NaN
826      NaN
827     1.00
828      NaN
829    62.00
830    15.00
831     0.83
832      NaN
833    23.00
834    18.00
835    39.00
836    21.00
837      NaN
838    32.00
839      NaN
840    20.00
841    16.00
842    30.00
843    34.50
844    17.00
845    42.00
846      NaN
847    35.00
848    28.00
849      NaN
850     4.00
851    74.00
852     9.00
853    16.00
854    44.00
855    18.00
856    45.00
857    51.00
858    24.00
859      NaN
860    41.00
861    21.00
862    48.00
863      NaN
864    24.00
865    42.00
866    27.00
867    31.00
868      NaN
869     4.00
870    26.00
871    47.00
872    33.00
873    47.00
874    28.00
875    15.00
876    20.00
877    19.00
878      NaN
879    56.00
880    25.00
881    33.00
882    22.00
883    28.00
884    25.00
885    39.00
886    27.00
887    19.00
888      NaN
889    26.00
890    32.00
Name: age, dtype: float64

In [ ]:
age.describe() #infromasi data

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [ ]:
age.count() #berapa jumlah data age

714

In [ ]:
#memahami method untuk data kosong
age.mean()

29.69911764705882

In [ ]:
age.std()

14.526497332334044

In [ ]:
age.median()

28.0

In [ ]:
age.sum(skipna=True) #secara default menjumlahkan data yg ada, null di skip

21205.17

In [ ]:
sum(age)

nan

In [ ]:
age_bersih=age.dropna() #dropna untuk menghilangkan baris
age_bersih.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [ ]:
dataku2=dataku.dropna()
dataku.head() #mengilangkan yang na

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [ ]:
dataku2=dataku.dropna(axis=0,thresh=9) #thresh menghilangkan 9 nilai yang NA
dataku2

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
1           1       1  female  38.00      1      0   71.2833        C    C
3           1       1  female  35.00      1      0   53.1000        S    C
6           0       1    male  54.00      0      0   51.8625        S    E
10          1       3  female   4.00      1      1   16.7000        S    G
11          1       1  female  58.00      0      0   26.5500        S    C
21          1       2    male  34.00      0      0   13.0000        S    D
23          1       1    male  28.00      0      0   35.5000        S    A
27          0       1    male  19.00      3      2  263.0000        S    C
52          1       1  female  49.00      1      0   76.7292        C    D
54          0       1    male  65.00      0      1   61.9792        C    B
62          0       1    male  45.00      1      0   83.4750        S    C
66          1       2  female  29.00      0      0   10.5000        S    F
75          0       3    male  25.00      0      0    7.6500        S    F
88          1       1  female  23.00      3      2  263.0000        S    C
92          0       1    male  46.00      1      0   61.1750        S    E
96          0       1    male  71.00      0      0   34.6542        C    A
97          1       1    male  23.00      0      1   63.3583        C    D
102         0       1    male  21.00      0      1   77.2875        S    D
110         0       1    male  47.00      0      0   52.0000        S    C
118         0       1    male  24.00      0      1  247.5208        C    B
123         1       2  female  32.50      0      0   13.0000        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
136         1       1  female  19.00      0      2   26.2833        S    D
137         0       1    male  37.00      1      0   53.1000        S    C
139         0       1    male  24.00      0      0   79.2000        C    B
148         0       2    male  36.50      0      2   26.0000        S    F
151         1       1  female  22.00      1      0   66.6000        S    C
170         0       1    male  61.00      0      0   33.5000        S    B
174         0       1    male  56.00      0      0   30.6958        C    A
177         0       1  female  50.00      0      0   28.7125        C    C
183         1       2    male   1.00      2      1   39.0000        S    F
193         1       2    male   3.00      1      1   26.0000        S    F
194         1       1  female  44.00      0      0   27.7208        C    B
195         1       1  female  58.00      0      0  146.5208        C    B
205         0       3  female   2.00      0      1   10.4625        S    G
209         1       1    male  40.00      0      0   31.0000        C    A
215         1       1  female  31.00      1      0  113.2750        C    D
218         1       1  female  32.00      0      0   76.2917        C    D
224         1       1    male  38.00      1      0   90.0000        S    C
230         1       1  female  35.00      1      0   83.4750        S    C
245         0       1    male  44.00      2      0   90.0000        Q    C
248         1       1    male  37.00      1      1   52.5542        S    D
251         0       3  female  29.00      1      1   10.4625        S    G
252         0       1    male  62.00      0      0   26.5500        S    C
257         1       1  female  30.00      0      0   86.5000        S    B
262         0       1    male  52.00      1      1   79.6500        S    E
263         0       1    male  40.00      0      0    0.0000        S    B
268         1       1  female  58.00      0      1  153.4625        S    C
269         1       1  female  35.00      0      0  135.6333        S    C
273         0       1    male  37.00      0      1   29.7000        C    C
275         1       1  female  63.00      1      0   77.9583        S    D
291         1       1  female  19.00      1      0   91.0792        C    B
292         0       2    male  36.00      0      0   12.8750        C    D
297         0       1  female   2.00      1      2  151.5500        S    C
299         1       1  female  50.00      0      1  247.5208        C    B
305         1       1    male   0.92      1      2  151.5500        S    C
307         1       1  female  17.00      1      0  108.9000        C    C
309         1       1  female  30.00      0      0   56.9292        C    E
310         1       1  female  24.00      0      0   83.1583        C    C
311         1       1  female  18.00      2      2  262.3750        C    B
318         1       1  female  31.00      0      2  164.8667        S    C
319         1       1  female  40.00      1      1  134.5000        C    E
325         1       1  female  36.00      0      0  135.6333        C    C
327         1       2  female  36.00      0      0   13.0000        S    D
329         1       1  female  16.00      0      1   57.9792        C    B
331         0       1    male  45.50      0      0   28.5000        S    C
332         0       1    male  38.00      0      1  153.4625        S    C
336         0       1    male  29.00      1      0   66.6000        S    C
337         1       1  female  41.00      0      0  134.5000        C    E
340         1       2    male   2.00      1      1   26.0000        S    F
341         1       1  female  24.00      3      2  263.0000        S    C
345         1       2  female  24.00      0      0   13.0000        S    F
356         1       1  female  22.00      0      1   55.0000        S    E
366         1       1  female  60.00      1      0   75.2500        C    D
369         1       1  female  24.00      0      0   69.3000        C    B
370         1       1    male  25.00      1      0   55.4417        C    E
377         0       1    male  27.00      0      2  211.5000        C    C
390         1       1    male  36.00      1      2  120.0000        S    B
393         1       1  female  23.00      1      0  113.2750        C    D
394         1       3  female  24.00      0      2   16.7000        S    G
412         1       1  female  33.00      1      0   90.0000        Q    C
429         1       3    male  32.00      0      0    8.0500        S    E
430         1       1    male  28.00      0      0   26.5500        S    C
434         0       1    male  50.00      1      0   55.9000        S    E
435         1       1  female  14.00      1      2  120.0000        S    B
438         0       1    male  64.00      1      4  263.0000        S    C
445         1       1    male   4.00      0      2   81.8583        S    A
449         1       1    male  52.00      0      0   30.5000        S    C
452         0       1    male  30.00      0      0   27.7500        C    C
453         1       1    male  49.00      1      0   89.1042        C    C
456         0       1    male  65.00      0      0   26.5500        S    E
460         1       1    male  48.00      0      0   26.5500        S    E
462         0       1    male  47.00      0      0   38.5000        S    E
473         1       2  female  23.00      0      0   13.7917        C    D
484         1       1    male  25.00      1      0   91.0792        C    B
486         1       1  female  35.00      1      0   90.0000        S    C
487         0       1    male  58.00      0      0   29.7000        C    B
492         0       1    male  55.00      0      0   30.5000        S    C
496         1       1  female  54.00      1      0   78.2667        C    D
498         0       1  female  25.00      1      2  151.5500        S    C
504         1       1  female  16.00      0      0   86.5000        S    B
505         0       1    male  18.00      1      0  108.9000        C    C
512         1       1    male  36.00      0      0   26.2875        S    E
515         0       1    male  47.00      0      0   34.0208        S    D
516         1       2  female  34.00      0      0   10.5000        S    F
520         1       1  female  30.00      0      0   93.5000        S    B
523         1       1  female  44.00      0      1   57.9792        C    B
536         0       1    male  45.00      0      0   26.5500        S    B
539         1       1  female  22.00      0      2   49.5000        C    B
540         1       1  female  36.00      0      2   71.0000        S    B
544         0       1    male  50.00      1      0  106.4250        C    C
550         1       1    male  17.00      0      2  110.8833        C    C
556         1       1  female  48.00      1      0   39.6000        C    A
558         1       1  female  39.00      1      1   79.6500        S    E
571         1       1  female  53.00      2      0   51.4792        S    C
572         1       1    male  36.00      0      0   26.3875        S    E
577         1       1  female  39.00      1      0   55.9000        S    E
581         1       1  female  39.00      1      1  110.8833        C    C
583         0       1    male  36.00      0      0   40.1250        C    A
585         1       1  female  18.00      0      2   79.6500        S    E
587         1       1    male  60.00      1      1   79.2000        C    B
591         1       1  female  52.00      1      0   78.2667        C    D
599         1       1    male  49.00      1      0   56.9292        C    A
609         1       1  female  40.00      0      0  153.4625        S    C
618         1       2  female   4.00      2      1   39.0000        S    F
621         1       1    male  42.00      1      0   52.5542        S    D
625         0       1    male  61.00      0      0   32.3208        S    D
627         1       1  female  21.00      0      0   77.9583        S    D
630         1       1    male  80.00      0      0   30.0000        S    A
632         1       1    male  32.00      0      0   30.5000        C    B
641         1       1  female  24.00      0      0   69.3000        C    B
645         1       1    male  48.00      1      0   76.7292        C    D
647         1       1    male  56.00      0      0   35.5000        C    A
659         0       1    male  58.00      0      2  113.2750        C    D
662         0       1    male  47.00      0      0   25.5875        S    E
671         0       1    male  31.00      1      0   52.0000        S    B
679         1       1    male  36.00      0      1  512.3292        C    B
681         1       1    male  27.00      0      0   76.7292        C    D
689         1       1  female  15.00      0      1  211.3375        S    B
690         1       1    male  31.00      1      0   57.0000        S    B
698         0       1    male  49.00      1      1  110.8833        C    C
699         0       3    male  42.00      0      0    7.6500        S    F
700         1       1  female  18.00      1      0  227.5250        C    C
701         1       1    male  35.00      0      0   26.2875        S    E
707         1       1    male  42.00      0      0   26.2875        S    E
710         1       1  female  24.00      0      0   49.5042        C    C
712         1       1    male  48.00      1      0   52.0000        S    C
715         0       3    male  19.00      0      0    7.6500        S    F
716         1       1  female  38.00      0      0  227.5250        C    C
717         1       2  female  27.00      0      0   10.5000        S    E
724         1       1    male  27.00      1      0   53.1000        S    E
730         1       1  female  29.00      0      0  211.3375        S    B
737         1       1    male  35.00      0      0  512.3292        C    B
741         0       1    male  36.00      1      0   78.8500        S    C
742         1       1  female  21.00      2      2  262.3750        C    B
745         0       1    male  70.00      1      1   71.0000        S    B
748         0       1    male  19.00      1      0   53.1000        S    D
751         1       3    male   6.00      0      1   12.4750        S    E
759         1       1  female  33.00      0      0   86.5000        S    B
763         1       1  female  36.00      1      2  120.0000        S    B
765         1       1  female  51.00      1      0   77.9583        S    D
772         0       2  female  57.00      0      0   10.5000        S    E
779         1       1  female  43.00      0      1  211.3375        S    B
781         1       1  female  17.00      1      0   57.0000        S    B
782         0       1    male  29.00      0      0   30.0000        S    D
789         0       1    male  46.00      0      0   79.2000        C    B
796         1       1  female  49.00      0      0   25.9292        S    D
802         1       1    male  11.00      1      2  120.0000        S    B
806         0       1    male  39.00      0      0    0.0000        S    A
809         1       1  female  33.00      1      0   53.1000        S    E
820         1       1  female  52.00      1      1   93.5000        S    B
823         1       3  female  27.00      0      1   12.4750        S    E
835         1       1  female  39.00      1      1   83.1583        C    E
853         1       1  female  16.00      0      1   39.4000        S    D
857         1       1    male  51.00      0      0   26.5500        S    E
862         1       1  female  48.00      0      0   25.9292        S    D
867         0       1    male  31.00      0      0   50.4958        S    A
871         1       1  female  47.00      1      1   52.5542        S    D
872         0       1    male  33.00      0      0    5.0000        S    B
879         1       1  female  56.00      0      1   83.1583        C    C
887         1       1  female  19.00      0      0   30.0000        S    B
889         1       1    male  26.00      0      0   30.0000        C    C

data kosong paling aman diisi dengan rata-rata

In [ ]:
dataku2.age.fillna(value=dataku2.age.mean) #mengisi data yang kosong dengan rata

1      38.00
3      35.00
6      54.00
10      4.00
11     58.00
21     34.00
23     28.00
27     19.00
52     49.00
54     65.00
62     45.00
66     29.00
75     25.00
88     23.00
92     46.00
96     71.00
97     23.00
102    21.00
110    47.00
118    24.00
123    32.50
124    54.00
136    19.00
137    37.00
139    24.00
148    36.50
151    22.00
170    61.00
174    56.00
177    50.00
183     1.00
193     3.00
194    44.00
195    58.00
205     2.00
209    40.00
215    31.00
218    32.00
224    38.00
230    35.00
245    44.00
248    37.00
251    29.00
252    62.00
257    30.00
262    52.00
263    40.00
268    58.00
269    35.00
273    37.00
275    63.00
291    19.00
292    36.00
297     2.00
299    50.00
305     0.92
307    17.00
309    30.00
310    24.00
311    18.00
318    31.00
319    40.00
325    36.00
327    36.00
329    16.00
331    45.50
332    38.00
336    29.00
337    41.00
340     2.00
341    24.00
345    24.00
356    22.00
366    60.00
369    24.00
370    25.00
377    27.00
390    36.00
393    23.00
394    24.00
412    33.00
429    32.00
430    28.00
434    50.00
435    14.00
438    64.00
445     4.00
449    52.00
452    30.00
453    49.00
456    65.00
460    48.00
462    47.00
473    23.00
484    25.00
486    35.00
487    58.00
492    55.00
496    54.00
498    25.00
504    16.00
505    18.00
512    36.00
515    47.00
516    34.00
520    30.00
523    44.00
536    45.00
539    22.00
540    36.00
544    50.00
550    17.00
556    48.00
558    39.00
571    53.00
572    36.00
577    39.00
581    39.00
583    36.00
585    18.00
587    60.00
591    52.00
599    49.00
609    40.00
618     4.00
621    42.00
625    61.00
627    21.00
630    80.00
632    32.00
641    24.00
645    48.00
647    56.00
659    58.00
662    47.00
671    31.00
679    36.00
681    27.00
689    15.00
690    31.00
698    49.00
699    42.00
700    18.00
701    35.00
707    42.00
710    24.00
712    48.00
715    19.00
716    38.00
717    27.00
724    27.00
730    29.00
737    35.00
741    36.00
742    21.00
745    70.00
748    19.00
751     6.00
759    33.00
763    36.00
765    51.00
772    57.00
779    43.00
781    17.00
782    29.00
789    46.00
796    49.00
802    11.00
806    39.00
809    33.00
820    52.00
823    27.00
835    39.00
853    16.00
857    51.00
862    48.00
867    31.00
871    47.00
872    33.00
879    56.00
887    19.00
889    26.00
Name: age, dtype: float64

In [ ]:
dataku2 = dataku2.age.fillna(value=dataku2.age.mean)

In [ ]:
dataku2

1      38.00
3      35.00
6      54.00
10      4.00
11     58.00
21     34.00
23     28.00
27     19.00
52     49.00
54     65.00
62     45.00
66     29.00
75     25.00
88     23.00
92     46.00
96     71.00
97     23.00
102    21.00
110    47.00
118    24.00
123    32.50
124    54.00
136    19.00
137    37.00
139    24.00
148    36.50
151    22.00
170    61.00
174    56.00
177    50.00
183     1.00
193     3.00
194    44.00
195    58.00
205     2.00
209    40.00
215    31.00
218    32.00
224    38.00
230    35.00
245    44.00
248    37.00
251    29.00
252    62.00
257    30.00
262    52.00
263    40.00
268    58.00
269    35.00
273    37.00
275    63.00
291    19.00
292    36.00
297     2.00
299    50.00
305     0.92
307    17.00
309    30.00
310    24.00
311    18.00
318    31.00
319    40.00
325    36.00
327    36.00
329    16.00
331    45.50
332    38.00
336    29.00
337    41.00
340     2.00
341    24.00
345    24.00
356    22.00
366    60.00
369    24.00
370    25.00
377    27.00
390    36.00
393    23.00
394    24.00
412    33.00
429    32.00
430    28.00
434    50.00
435    14.00
438    64.00
445     4.00
449    52.00
452    30.00
453    49.00
456    65.00
460    48.00
462    47.00
473    23.00
484    25.00
486    35.00
487    58.00
492    55.00
496    54.00
498    25.00
504    16.00
505    18.00
512    36.00
515    47.00
516    34.00
520    30.00
523    44.00
536    45.00
539    22.00
540    36.00
544    50.00
550    17.00
556    48.00
558    39.00
571    53.00
572    36.00
577    39.00
581    39.00
583    36.00
585    18.00
587    60.00
591    52.00
599    49.00
609    40.00
618     4.00
621    42.00
625    61.00
627    21.00
630    80.00
632    32.00
641    24.00
645    48.00
647    56.00
659    58.00
662    47.00
671    31.00
679    36.00
681    27.00
689    15.00
690    31.00
698    49.00
699    42.00
700    18.00
701    35.00
707    42.00
710    24.00
712    48.00
715    19.00
716    38.00
717    27.00
724    27.00
730    29.00
737    35.00
741    36.00
742    21.00
745    70.00
748    19.00
751     6.00
759    33.00
763    36.00
765    51.00
772    57.00
779    43.00
781    17.00
782    29.00
789    46.00
796    49.00
802    11.00
806    39.00
809    33.00
820    52.00
823    27.00
835    39.00
853    16.00
857    51.00
862    48.00
867    31.00
871    47.00
872    33.00
879    56.00
887    19.00
889    26.00
Name: age, dtype: float64